{#
  Displays a sidebard module with information about organizations.

  group_type    - The type of organization.

  Example:

  {% snippet "organization/snippets/helper.html", group_type=group_type %}

  #}


<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    Cohort Studies
  </h2>
  <div class="module-content">
    <p>
      CID brings together six large-scale longitudinal human cohort studies as well as complementary animal models on child development.

      Two new longitudinal child cohorts were set-up as part of CID (YOUth cohort and Leiden intervention cohort L-CID), while the four others have been following children for over a decade (TRAILS (Tracking Adolescents’ Individual Lives Survey), Generation-R, RADAR (Research on Adolescent Development And Relationships) and NTR (Netherlands Twin Register)).
      
      Each cohort includes both shared and specific measures of social competence and behavioural control. In addition, several developmental traits are collected in all cohorts. Together, this allows integration of datasets as well as more focused analysis in two or more cohorts.
    </p>
  </div>
</div>
