{% extends "package/read_base.html" %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private badge badge-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    {% block package_archive_notice %}
      {% if is_activity_archive %}
        <div class="alert alert-danger">
          {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
          You're currently viewing an old version of this dataset.
          Data files may not match the old version of the metadata.
          <a href="{{ url }}">View the current version</a>.
          {% endtrans %}
        </div>
      {% endif %}
    {% endblock %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_resources %}
    {% if pkg.type != 'data-publication' and pkg.type != 'lab' %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, is_activity_archive=is_activity_archive %}
    {% endif %}
  {% endblock %}

  {% block package_tags %}
    {% if pkg.type == 'data-publication' %}
    {% set tags = pkg.tags %}

    {% set ns = namespace(previous=[]) %}

    <ul class="tag-list well">
      {% for tag in tags %}
        {% if not tag.display_name in ns.previous %}
        <li>
          <a class="tag" href="{% url_for 'data-publication.search', tags=tag.name %}">{{ tag.display_name }}</a>
        </li>
        {% set ns.previous = ns.previous + [tag.display_name] %}
        {% endif %}
      {% endfor %}
      {# process materials #}
      {% for i in range(0, pkg.msl_materials|length) %}
        {% if pkg.msl_materials[i].msl_material_1 %}
          {% set split = null %}
          {% set split = pkg.msl_materials[i].msl_material_1.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_material_1=split[split|length-1] %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_materials[i].msl_material_2 %}
          {% set split = null %}
          {% set split = pkg.msl_materials[i].msl_material_2.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_material_2=pkg.msl_materials[i].msl_material_2 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_materials[i].msl_material_3 %}
          {% set split = null %}
          {% set split = pkg.msl_materials[i].msl_material_3.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_material_3=pkg.msl_materials[i].msl_material_3 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_materials[i].msl_material_4%}
          {% set split = null %}
          {% set split = pkg.msl_materials[i].msl_material_4.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_material_4=pkg.msl_materials[i].msl_material_4 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_materials[i].msl_material_5 %}
          {% set split = null %}
          {% set split = pkg.msl_materials[i].msl_material_5.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_material_5=pkg.msl_materials[i].msl_material_5 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {# process porefluids #}
      {% for i in range(0, pkg.msl_porefluids|length) %}
        {% if pkg.msl_porefluids[i].msl_porefluid_1 %}
          {% set split = null %}
          {% set split = pkg.msl_porefluids[i].msl_porefluid_1.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_porefluid_1=split[split|length-1] %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_porefluids[i].msl_porefluid_2 %}
          {% set split = null %}
          {% set split = pkg.msl_porefluids[i].msl_porefluid_2.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_porefluid_2=pkg.msl_porefluids[i].msl_porefluid_2 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_porefluids[i].msl_porefluid_3 %}
          {% set split = null %}
          {% set split = pkg.msl_porefluids[i].msl_porefluid_3.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_porefluid_3=pkg.msl_porefluids[i].msl_porefluid_3 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {# process rockphysics #}
      {% for i in range(0, pkg.msl_rockphysics|length) %}
        {% if pkg.msl_rockphysics[i].msl_rockphysic_1 %}
          {% set split = null %}
          {% set split = pkg.msl_rockphysics[i].msl_rockphysic_1.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_rockphysic_1=split[split|length-1] %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_rockphysics[i].msl_rockphysic_2 %}
          {% set split = null %}
          {% set split = pkg.msl_rockphysics[i].msl_rockphysic_2.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_rockphysic_2=pkg.msl_rockphysics[i].msl_rockphysic_2 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_rockphysics[i].msl_rockphysic_3 %}
          {% set split = null %}
          {% set split = pkg.msl_rockphysics[i].msl_rockphysic_3.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_rockphysic_3=pkg.msl_rockphysics[i].msl_rockphysic_3 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_rockphysics[i].msl_rockphysic_4%}
          {% set split = null %}
          {% set split = pkg.msl_rockphysics[i].msl_rockphysic_4.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_rockphysic_4=pkg.msl_rockphysics[i].msl_rockphysic_4 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {# /process analogue modelling #}
      {% for i in range(0, pkg.msl_analogue|length) %}
        {% if pkg.msl_analogue[i].msl_analogue_1 %}
          {% set split = null %}
          {% set split = pkg.msl_analogue[i].msl_analogue_1.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_analogue_1=split[split|length-1] %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_analogue[i].msl_analogue_2 %}
          {% set split = null %}
          {% set split = pkg.msl_analogue[i].msl_analogue_2.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_analogue_2=pkg.msl_analogue[i].msl_analogue_2 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_analogue[i].msl_analogue_3 %}
          {% set split = null %}
          {% set split = pkg.msl_analogue[i].msl_analogue_3.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_analogue_3=pkg.msl_analogue[i].msl_analogue_3 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_analogue[i].msl_analogue_4%}
          {% set split = null %}
          {% set split = pkg.msl_analogue[i].msl_analogue_4.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_analogue_4=pkg.msl_analogue[i].msl_analogue_4 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_analogue[i].msl_analogue_5 %}
          {% set split = null %}
          {% set split = pkg.msl_analogue[i].msl_analogue_5.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_analogue_5=pkg.msl_analogue[i].msl_analogue_5 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {# /process geological setting #}
      {% for i in range(0, pkg.msl_geologicalsettings|length) %}
        {% if pkg.msl_geologicalsettings[i].msl_geologicalsetting_1 %}
          {% set split = null %}
          {% set split = pkg.msl_geologicalsettings[i].msl_geologicalsetting_1.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalsetting_1=split[split|length-1] %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalsettings[i].msl_geologicalsetting_2 %}
          {% set split = null %}
          {% set split = pkg.msl_geologicalsettings[i].msl_geologicalsetting_2.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalsetting_2=pkg.msl_geologicalsettings[i].msl_geologicalsetting_2 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalsettings[i].msl_geologicalsetting_3 %}
          {% set split = null %}
          {% set split = pkg.msl_geologicalsettings[i].msl_geologicalsetting_3.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalsetting_3=pkg.msl_geologicalsettings[i].msl_geologicalsetting_3 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalsettings[i].msl_geologicalsetting_4%}
          {% set split = null %}
          {% set split = pkg.msl_geologicalsettings[i].msl_geologicalsetting_4.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalsetting_4=pkg.msl_geologicalsettings[i].msl_geologicalsetting_4 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {# /process geological age #}
      {% for i in range(0, pkg.msl_geologicalages|length) %}
        {% if pkg.msl_geologicalages[i].msl_geologicalage_1 %}
          {% set split = null %}
          {% set split = pkg.msl_geologicalages[i].msl_geologicalage_1.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalage_1=split[split|length-1] %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalages[i].msl_geologicalage_2 %}
          {% set split = null %}
          {% set split = pkg.msl_geologicalages[i].msl_geologicalage_2.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalage_2=pkg.msl_geologicalages[i].msl_geologicalage_2 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalages[i].msl_geologicalage_3 %}
          {% set split = null %}
          {% set split = pkg.msl_geologicalages[i].msl_geologicalage_3.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalage_3=pkg.msl_geologicalages[i].msl_geologicalage_3 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalages[i].msl_geologicalage_4%}
          {% set split = null %}
          {% set split = pkg.msl_geologicalages[i].msl_geologicalage_4.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalage_4=pkg.msl_geologicalages[i].msl_geologicalage_4 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalages[i].msl_geologicalage_5%}
          {% set split = null %}
          {% set split = pkg.msl_geologicalages[i].msl_geologicalage_5.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalage_5=pkg.msl_geologicalages[i].msl_geologicalage_5 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if pkg.msl_geologicalages[i].msl_geologicalage_6%}
          {% set split = null %}
          {% set split = pkg.msl_geologicalages[i].msl_geologicalage_6.split('>') %}
          {% if split %}
            {% if not split[split|length-1] in ns.previous %}
              <li>
                <a class="tag" href="{% url_for 'data-publication.search', msl_geologicalage_6=pkg.msl_geologicalages[i].msl_geologicalage_6 %}">{{ split[split|length-1] }}</a>
              </li>
              {% set ns.previous = ns.previous + [split[split|length-1]] %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    {% else %}
      {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endif %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}