{% ckan_extends %}

{% block styles %}
    {{ super()  }}
    {% if h.check_ckan_version('2.9') %}
        {% asset 'cd2_theme/rua_style' %}
        {% asset 'cd2_theme/dia_style' %}
    {% else %}
        {% resource 'cd2_theme/rua/css/rua-font.css' %}
        {% resource 'cd2_theme/rua/css/rua.css' %}
        {% resource 'cd2_theme/rua/js/rua.js' %}
        {% resource 'cd2_theme/dia_custom.css' %}
        {% resource 'cd2_theme/dia_custom.js' %}
        <style>.module-content { padding: 0px }</style>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% asset 'cd2_theme/dia_script' %}
    {% asset 'cd2_theme/rua_script' %}


<script>
// Enable tooltips site-wide
window.addEventListener("load", myInit, true); function myInit(){  
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    function toggleFacet(facet_input,facet_element) {
				$(facet_input).on('keyup', function () {
					var search = this.value.toLowerCase();
					if (search.length < 2) { var showAll = true } else { showAll = false }
					$(facet_element).each(function () {
						a = this;
						this.style.display = "block";
						if (showAll == false) {
							if (a.innerText.toLowerCase().includes(search) > 0) { this.style.display = "block"; } else { this.style.display = "none"; }
						}
					});
				});
			}
		function facetResize (liElements,sectionElement) {
			liElements = document.getElementsByClassName(liElements);
			maxHeight = (liElements.length * 30) + 70;
			if (maxHeight > 300) { maxHeight = 300 }
			document.getElementById(sectionElement).style.height = maxHeight + 'px';
	
		}
 };


// Capitalize 'and' and 'not' to be functional parameters
var input_q = document.getElementById('searchbox');

input_q.addEventListener('keyup', do_search);
function do_search() {
    var value_q = input_q.value;
    if (value_q.includes('not') || value_q.includes('and')) {
        $('#searchbox').tooltip('show');
    };
};

// change functional parameters into symbols for clarity
input_q.addEventListener('keyup', do_replace);
function do_replace() {
    var value_q = input_q.value;
    var replaced_q = value_q.replace('AND', '&');
    var replaced_q = replaced_q.replace('NOT ', '-');
    document.getElementById('searchbox').value = replaced_q;
};
</script>

{% endblock scripts %}

