{% block facet_list %}

{% set hide_empty = hide_empty or false %}

{% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets, limit=1000) %}

{% if items or not hide_empty %}
{% set hide_sub_facet = False %}

{%- set exclude_fields = [] -%}

{% if title in exclude_fields %}
	{% set hide_sub_facet = True %}
{% endif %}

{% if not hide_sub_facet %}
{% if within_tertiary %}
{% set nav_class = 'nav nav-pills nav-stacked' %}
{% set nav_item_class = ' ' %}
{% set wrapper_class = 'nav-facet nav-facet-tertiary' %}
{% endif %}
{% block facet_list_item %}
{% block facet_list_heading %}
<script>
	document.addEventListener("DOMContentLoaded", function (event) {
		// Toggle facets via input filter
		facetToggle('#filter_{{ title.replace(" ","_")  }}', '.element_{{ title.replace(" ","_")  }}','block');

		// Resize the search box to fit the height of the facet list
		//facetResize('element_{{ title.replace(" ","_") }}','section_{{ title.replace(" ","_")  }}');
	});
</script>

<h2 id="header_{{ title.replace(' ','_') }}" class="module-heading section-heading dropshadow" data-toggle="collapse" data-target="#section_{{ title.replace(' ','_') }}" aria-expanded="false" aria-controls="section_{{ title }}">
	<i class="fa fa-filter"></i>
	{{ title }}
	<span class="toggle-facet"><span class="fa fa-sort"></span></span>
</h2>
{% endblock %}
<section aria-expanded="false" id="section_{{ title.replace(' ','_')  }}" class="{{ wrapper_class or 'module module-narrow module-shallow' }} facet-section-element collapse"
	style="height:300px;max-height:300px;overflow-y:scroll;overflow-x:hidden;box-shadow: rgb(187, 187, 187) 0px 0px 5px inset; margin-bottom: -20px; height: 0px">
	<input type="text" class="filter-box hide-on-mobile" id="filter_{{ title.replace(' ','_') }}" placeholder="Filter" style="font-size:14px;margin-top:5px;width:95%;margin-left:auto;margin-right: auto;">
		
	{% block facet_list_items %}
	{% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets, limit=1000) %}
	{% if items %}

	<script>
	document.addEventListener("DOMContentLoaded", function (event) {
	{% if items|length == 1 %} // Show if only one label available
		$('#section_{{ title.replace(' ','_') }}').collapse('show')
		document.getElementById('filter_{{ title.replace(' ','_') }}').style.display = 'none';
	{% elif items|length < 8 %} // Hide filter with few items displayed
		document.getElementById('filter_{{ title.replace(' ','_') }}').style.display = 'none';
	{% endif %}
	 });
	</script>

	{% if title == 'age range' %}
	{% set measure_age_vals = [] %}
	{% for item in items %}
		{% do measure_age_vals.append(item.name) %}
	{% endfor %}
	<script>
	// get current range from results to update slider accordingly
	function getCurrentAgeRange(value) {
		if (value == 'max') {
			return {{ measure_age_vals | map('int') | max }};
		} else { 
			return {{ measure_age_vals | map('int') | min }};
		}
	}
	</script>
	{% elif title == 'date start collection' %}
		{% set measure_age_vals = [] %}
		{% for item in items %}
				{% do measure_age_vals.append(item.name[0:4]) %}
		{% endfor %}
        foobar
        {{ measure_age_vals | map('int') | min }};
	{% elif title == 'date end collection' %}
		 {% set measure_age_vals = [] %}
		 {% for item in items %}
				 {% do measure_age_vals.append(item.name[0:4]) %}
		 {% endfor %}
 		foobar
 	 {{ measure_age_vals | map('int') | max }};
	{% endif %}
	
	<nav aria-label="{{ title }}">
		<ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }}">

			{% if title == 'Tags' %}
				{% set main_passed = [] %}
				{% for item in items|sort(attribute='name') %}
				{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if
				item.active else h.add_url_param(new_params={name: item.name}, extras=extras,
				alternative_url=alternative_url) %}
				{% set label = label_function(item) if label_function else item.display_name %}
				{% set margin = 'margin-left:0px' %}

					{% if '-' in label %}
						{% set splitname = label.split('-') %}
						{% set subname = splitname[0] %}
						{% set label = splitname[1] %}

						{% if subname not in main_passed %}
							{% do main_passed.append(subname) %}	

							<li style="padding:6px" class="element_{{ title.replace(' ','_') }} cohort_parent nav-custom {% if item.active %} active{% endif %}">
								<span class="item-label" style="color:#999">{{ subname }}</span>
							</li>
						{% endif %}

						{% set label_full = label %}
						{% set label = label|truncate(20,true,'...',0) %}
						{% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}
	
						<li {% if '...' in label %}
							onmouseenter="tooltipAddElement(this,'{{ label_full }}',30)" onmouseleave="tooltipRemoveElement(this)" 
							{% endif %}
							class="element_{{ title.replace(' ','_') }} nav-custom {{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
							<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
								<span style="margin-left:15px" class="item-label item-facet">{{ label }}</span>
								<span class="hidden separator"> - </span>
								<span style="margin-top:-18px;" class="item-count badge facet-badge">{{ count }}</span>
							</a>
						</li>
					{% else %}

					{% if 'General' not in main_passed %}
						{% do main_passed.append('General') %}	

						<li style="padding:6px" class="element_{{ title.replace(' ','_') }} cohort_parent nav-custom {% if item.active %} active{% endif %}">
							<span class="item-label" style="color:#999">General</span>
						</li>
					{% endif %}

					{% set label_full = label %}
					{% set label = label|truncate(20,true,'...',0) %}
					{% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}

					<li {% if '...' in label %}
						onmouseenter="tooltipAddElement(this,'{{ label_full }}',30)" onmouseleave="tooltipRemoveElement(this)" 
						{% endif %}
						class="element_{{ title.replace(' ','_') }} nav-custom {{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
						<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
							<span style="margin-left:15px" class="item-label item-facet">{{ label }}</span>
							<span class="hidden separator"> - </span>
							<span style="margin-top:-18px;" class="item-count badge facet-badge">{{ count }}</span>
						</a>
					</li>


					{% endif %}

				
				{% endfor %}
				
			{% else %}
				{% for item in items %}
				{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if
				item.active else h.add_url_param(new_params={name: item.name}, extras=extras,
				alternative_url=alternative_url) %}
				{% set label = label_function(item) if label_function else item.display_name %}
				{% set margin = 'margin-left:0px' %}
				{% set label_full = label %}
				{% set label = label|truncate(20,true,'...',0) %}
				{% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}
					
				<li {% if '...' in label %}
					onmouseenter="tooltipAddElement(this,'{{ label_full }}',30)" onmouseleave="tooltipRemoveElement(this)" 
					{% endif %} 
					style="{{ margin }}" class="element_{{ title.replace(' ','_') }} nav-custom {{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
					<a href="{{ href }}">
						<span class="item-label item-facet">{{ label }}</span>
						<span class="hidden separator"> - </span>
						<span style="margin-top:-18px;" class="item-count badge facet-badge">{{ count }}</span>
					</a>
				</li>

				{% endfor %}
			{% endif %}
			<li class="nav-custom nav-item" style="border-bottom:none">&nbsp;</li>
		</ul>
	</nav>

	<p class="module-footer" style="display:none">
		{% if h.get_param_int('_%s_limit' % name) %}
		{% if h.has_more_facets(name, search_facets or c.search_facets) %}
		<a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}"
			class="read-more">More ...</a>
		{% endif %}
		{% else %}
		<a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}"
			class="read-more">{{ _('Show Only Popular {facet_type}s').format(facet_type=title) }}</a>
		{% endif %}
	</p>
	{% else %}
	<script>
	document.addEventListener("DOMContentLoaded", function (event) {
		document.getElementById('header_{{ title.replace(' ','_') }}').style.display = 'none';
		document.getElementById('section_{{ title.replace(' ','_') }}').style.display = 'none';
	});
	</script>
	<p class="module-content empty"><i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</p>
	{% endif %}
	{% endwith %}
	{% endblock %}
</section>

{% if title == 'age range' %}
<script>
	document.addEventListener("DOMContentLoaded", function (event) {
			document.getElementById('header_{{ title.replace(' ','_') }}').style.display = 'none';
			document.getElementById('section_{{ title.replace(' ','_') }}').style.display = 'none';
	});
</script>

<h2 id="header_age" class="module-heading hide-on-mobile section-heading dropshadow">
	<i class="fa fa-filter"></i>
	Available age range
	<span class="toggle-facet info-hover"><span class="fa fa-info-circle" onmouseenter="tooltipAddElement(this,'Shows the age range (primary participant) in the measurement waves of the available datasets. The available range can be broader than the specified range.',30,'info-circle')" onmouseleave="tooltipRemoveElement(this)"></span></span>
</h2>

<section id="section_age" class="hide-on-mobile section-range-slider {{ wrapper_class or 'module module-narrow module-shallow' }}"
	style="height:140px;width:86%;margin-left:7%;background-color:transparent;text-align:center">
	<br /><br />
	<input type="text" id="ageSlider" style="display:none"/>
	<p class="module-footer" style="text-align: center; margin-top:-40px"><br>
		<a id="applyRange" class="btn btn-primary btn-sm btn-apply" style="color:#444;margin-top:18px;background-color:#ebebeb;border-color:#a9a9a9;" onclick="addQueryToField('measure_age_month',ageQstring)"><span id="flash">Apply <span class="fa fa-check"></span></span></a>
	</p>
</section>
<script type='text/javascript'>
	window.onload = function () {
		// --------------------------------------------
		// ------------- AGE RANGE SLIDER -------------
		// --------------------------------------------

		// round values from range slider to nearest multiple of 12
		function roundDownToNearest12(vals) {
			return vals.map(val => {
			  if (val > 36) {
				return Math.floor(val / 12) * 12;
			  }
			  return val;
			});
		  }

		// Get url parameters of current range selection and update slider accordingly

		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		if (urlParams) {
		const currentQuery = urlParams.get('q');
			if (currentQuery) { 
				var isRangeDefined = currentQuery.match(/measure_age_month/g);
				var currentRange = currentQuery.match(/\d+/g);
				if (currentRange && isRangeDefined) {
					var defMinVal = parseInt(currentRange[0]);
					var defMaxVal = parseInt(currentRange[1]);
					if (defMinVal > getCurrentAgeRange('min') || defMaxVal < getCurrentAgeRange('max')) {
						$("#rangeInfo").fadeIn(1000);
					}
				}
			}
		} 
		defaultRange = Array.from(Array(400).keys());
		// adjust available range based on results
		if (typeof getCurrentAgeRange === 'function') { 
			var defaultRange = defaultRange.filter(function(item) {
				return item >= getCurrentAgeRange('min') && item <= getCurrentAgeRange('max');
			}); 
		} else {	
			document.getElementById('header_age').style.display = 'none';
			document.getElementById('section_age').style.display = 'none';
		};

		if (typeof getCurrentAgeRange === 'function') { 
			var mySlider = new rSlider({
				target: '#ageSlider',
				values: defaultRange,
				range: true,
				tooltip: true,
				scale: true,
				labels: false,
				set: [getCurrentAgeRange('min'), getCurrentAgeRange('max')],
				onChange: function (vals) {
					// Create querystring for new range selection to add to search field
					vals = vals.split(",");
					vals = roundDownToNearest12(vals);
					ageQstring = 'measure_age_month:[' + vals[0] + ' TO ' + vals[1] + ']';
				}
			});
		}
	};

</script>
<link rel="stylesheet" href="../range-slider/css/rSlider.min.css">
<script src="../range-slider/js/rSlider.min.js"></script>

{% endif %}
{% endblock %}
{% endif %}
{% endif %}
{% endwith %}
{% endblock %}