{% block facet_list %}

{% set hide_empty = hide_empty or false %}

{% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets) %}

{% if items or not hide_empty %}
{% set hide_sub_facet = False %}

{%- set exclude_fields = [
    'type',
	'Organizations',
	'Formats',
	'Licenses',
	'Groups',
	'wave'
    ] -%}

{% if title in exclude_fields %}
	{% set hide_sub_facet = True %}
{% endif %}

{% if not hide_sub_facet %}
{% if within_tertiary %}
{% set nav_class = 'nav nav-pills nav-stacked' %}
{% set nav_item_class = ' ' %}
{% set wrapper_class = 'nav-facet nav-facet-tertiary' %}
{% endif %}
{% block facet_list_item %}
{% block facet_list_heading %}
<script>
	document.addEventListener("DOMContentLoaded", function (event) {
		// Toggle facets via input filter
		facetToggle('#filter_{{ title.replace(" ","_")  }}', '.element_{{ title.replace(" ","_")  }}');

		// Resize the search box to fit the height of the facet list
		facetResize('element_{{ title.replace(" ","_") }}','section_{{ title.replace(" ","_")  }}');
	});
</script>

<h2 class="module-heading" style="margin-bottom:-20px;padding:10px;margin-top:20px">
	<i class="fa fa-filter"></i>
	{{ title }}
	<a class="toggle-facet" data-toggle="collapse" data-target="#section_{{ title.replace(' ','_') }}" aria-expanded="true" aria-controls="section_{{ title }}">-</a>
	<br />
	<input type="text" class="filter-box hide-on-mobile" id="filter_{{ title.replace(' ','_') }}" placeholder="Filter"
		style="font-size:14px;margin-top:5px">
</h2>
{% endblock %}
<section aria-expanded="false" id="section_{{ title.replace(' ','_')  }}" class="{{ wrapper_class or 'module module-narrow module-shallow' }} collapsed"
	style="height:300px;overflow-y:scroll;overflow-x:hidden;max-height:300px;">

	{% block facet_list_items %}
	{% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets, 0) %}
	{% if items %}

	<nav aria-label="{{ title }}">
		<ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }}">

			{% if title == 'cohort' %}
				{% set cohorts_passed = [] %}
				{% for item in items|sort(attribute='name') %}
				{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if
				item.active else h.add_url_param(new_params={name: item.name}, extras=extras,
				alternative_url=alternative_url) %}
				{% set label = label_function(item) if label_function else item.display_name %}
				{% set margin = 'margin-left:0px' %}
				{% set splitname = label.split('-') %}
				{% set studyname = splitname[0] %}
				{% set label = splitname[1] %}

				{% if studyname not in cohorts_passed %}
				{% do cohorts_passed.append(studyname) %}	

				<li style="padding:6px" class="cohort_parent nav-custom {% if item.active %} active{% endif %}">
					<span class="item-label" style="color:#999">{{ studyname }}</span>
				</li>
				{% endif %}
				
				{% set label_truncated = label|truncate(20,true,'...') if not label_function else label %}
				{% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}

				<li class="element_{{ title.replace(' ','_') }} nav-custom {{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
					<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
						<span style="margin-left:15px" class="item-label item-facet">{{ label_truncated }}</span>
						<span class="hidden separator"> - </span>
						<span style="margin-top:-18px;" class="item-count badge facet-badge">{{ count }}</span>
					</a>
				</li>

				{% endfor %}
			{% else %}
				{% for item in items %}
				{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if
				item.active else h.add_url_param(new_params={name: item.name}, extras=extras,
				alternative_url=alternative_url) %}
				{% set label = label_function(item) if label_function else item.display_name %}
				{% set margin = 'margin-left:0px' %}
				
				{% set label_truncated = label|truncate(20,true,'...') if not label_function else label %}
				{% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}

				<li style="{{ margin }}" class="element_{{ title.replace(' ','_') }} nav-custom {{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
					<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
						<span class="item-label">{{ label_truncated }}</span>
						<span class="hidden separator"> - </span>
						<span class="item-count badge facet-badge">{{ count }}</span>
					</a>
				</li>

				{% endfor %}
			{% endif %}

		</ul>
	</nav>

	<p class="module-footer" style="display:none">
		{% if h.get_param_int('_%s_limit' % name) %}
		{% if h.has_more_facets(name, search_facets or c.search_facets) %}
		<a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}"
			class="read-more">More ...</a>
		{% endif %}
		{% else %}
		<a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}"
			class="read-more">{{ _('Show Only Popular {facet_type}s').format(facet_type=title) }}</a>
		{% endif %}
	</p>
	{% else %}
	<p class="module-content empty"><i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</p>
	{% endif %}
	{% endwith %}
	{% endblock %}
</section>

{% if title == 'cohort' %}
<h2 class="module-heading hide-on-mobile" style="margin-bottom:-20px;padding:10px" data-toggle="tooltip" data-placement="top" title="Median age of the measurement wave">
	<i class="fa fa-filter"></i>
	Median age range
	<a id="applyRange" class="btn btn-primary btn-sm"
		style="margin-left:20px;background-color:#ebebeb;border-color:#a9a9a9;color:#000;"
		onclick="addQueryToField()">Apply</a>
</h2>
<section id="section_age" class="hide-on-mobile section-range-slider {{ wrapper_class or 'module module-narrow module-shallow' }}"
	style="height:140px;width:90%;margin-left:5%;background-color:#fff">
	<br /><br />
	<input type="text" id="ageSlider" />
	<p class="module-footer" style="text-align: center;">
		years
	</p>
</section>
<script type='text/javascript'>
	window.onload = function () {
		// Change facet-toggle icon 
		$('.toggle-facet').click(function(){ 
			$(this).text(function(i,old){
				return old=='+' ?  '-' : '+';
			});
		});

		// --------------------------------------------
		// ------------- AGE RANGE SLIDER -------------
		// --------------------------------------------

		// Get url parameters of current range selection and update slider accordingly
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		if (urlParams) {
			const currentQuery = urlParams.get('q');
			if (currentQuery) { 
				var isRangeDefined = currentQuery.match(/wave_median_age/g);
				var currentRange = currentQuery.match(/\d+/g);
				if (currentRange && isRangeDefined) {
					var minVal = parseInt(currentRange[0]);
					var maxVal = parseInt(currentRange[1]);
				}
			}
		} else {
			// Default slider values
			var minVal = 0;
			var maxVal = 30;
		}

		var mySlider = new rSlider({
			target: '#ageSlider',
			values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 30],
			range: true,
			tooltip: true,
			scale: true,
			labels: false,
			set: [minVal, maxVal],
			onChange: function (vals) {
				// Create querystring for new range selection to add to search field
				vals = vals.split(",");
				qstring = 'wave_median_age:[' + vals[0] + ' TO ' + vals[1] + ']';
			}
		});
	};

	// Add range query to field and submit search form 
	function addQueryToField() {
		currentString = window.location.search;
		currentParams = new URLSearchParams(currentString);
		// Check if there is an existing query to replace or append
		if (currentParams.get('q') != null) {
			cleanQuery = currentParams.get('q').replace(/[&\s]*wave_median_age:\[\d+\sTO\s\d+\][\s&]*/, "");
			if (cleanQuery != "") {
				newString = cleanQuery + ' & ' + qstring;
			} else {
				newString = qstring;
			}
		} else {
			newString = qstring;
		}
		document.getElementById('searchbox').value = newString;
		document.getElementById('dataset-search-form').submit();
	}     
</script>

<link rel="stylesheet" href="../range-slider/css/rSlider.min.css">
<script src="../range-slider/js/rSlider.min.js"></script>

{% endif %}
{% endblock %}
{% endif %}
{% endif %}
{% endwith %}
{% endblock %}