{% ckan_extends %}

{% block info %}
  <div class="module module-narrow module-shallow context-info" style="background-color:#fff">
    {% if has_context_title %}
    {% endif %}
    <section class="module-content">
      {% block inner %}
      {% block image %}
        <div class="image">
          <a href="{{ url }}">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
          </a>
        </div>
      {% endblock %}
      {% block heading %}
      {% endblock %}
      {% block description %}
      {% if organization.description %}
        <p class="description" style="display:none">
          {{ h.markdown_extract(organization.description, 180) }}
        </p>
        <p class="read-more" style="display:none">
          {% link_for _('read more'), named_route=organization.type ~ '.about', id=organization.name %}
        </p>
      {% else %}
        <p class="empty">{{ 'There is no description for this organization' }}</p>
      {% endif %}
      {% endblock %}
      <p>&nbsp;</p><div class="similar-datasets" style="display:none">
        <h1 class="heading dropshadow"><span class="fa fa-copy"></span> Similar datasets</h1><br>
        <span id="similar-datasets"></span>
      </div>
      {% if show_nums %}
      {% block nums %}
      <a href="/dataset/?organization={{organization.name}}"><div class="nums">
        <dl>
          <dt>{{ _('Items') }}</dt>
          <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
        </dl>
      </div></a>
    {% endblock %}
        {% block follow %}
        {% endblock %}
      {% endif %}
      {% endblock %}
    </section>
  </div>
  {% endblock %}