{#
  Displays a single dataset.

  package        - A package to display.
  item_class     - The class name to use on the list item.
  hide_resources - If true hides the resources (default: false).
  banner         - If true displays a popular banner (default: false).
  truncate       - The length to trucate the description to (default: 360)
  truncate_title - The length to truncate the title to (default: 80).

  Example:

    {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
  {% set truncate = truncate or 360 %}
  {% set truncate_title = truncate_title or 80 %}
  {% set title = package.title or package.name %}

  <!-- For when cd2_name isn't specified and the default would be to display the hex string -->
  {% if (title | length == 32) and (title.replace(' ','') | length == 32) %}
  {% set title = package.dc_instrument_name %}
  {% endif %}

  {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

  {% block package_item %}
    <li class="{{ item_class or "dataset-item" }}">
      {% block content %}
        <div class="dataset-content">
          <div class="study-label"><a href="/organization/about/{{package.organization.name}}"><img src="{{ package.organization.image_url }}"></a></div>

          {% block heading %}
          
            <h2 class="dataset-heading">
              {% block heading_private %}
              {% if (package.type == 'wave') or (package.type == 'cohort') %}
              <span class="dataset-private label label-inverse">
                <i class="fa fa-folder-o"></i>
                {{ package.type }}
              </span>
              {% endif %}
              {% endblock %}
              {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for('%s.read' % package.type, id=package.name)) }}
              {% endblock %}
              {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
              <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
              <span class="label label-danger">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
              {% endblock %} 
            </h2>

            
         
            <table class="table table-condensed">
            <tbody>
              <tr class="table-package-item"><td width="30%">Study:</td><td><span class="label">{{package.organization.title}}</span></td></tr> 
              {% if package.type == 'dataset' %}
              <tr><td>Mode of collection:</td><td><span class="label">{{ package.dc_mode_of_collection }}</span>
                {% if package.dc_mode_of_collection_sub %}
                &nbsp;<i class="fa fa-chevron-right" aria-hidden="true" style="color:#777"></i>&nbsp;<span class="label">{{ package.dc_mode_of_collection_sub }}</span></td></tr>
                {% endif %}
                <tr><td>Available measurements:</td><td>
                  {% set waves_passed = [] %}
                  {% for wave in package.wave %}
                    {% if 'wave_cohort' in wave %}
                      {% if wave.wave_cohort not in waves_passed %}
                        {% set splitname = wave.wave_cohort.split(':') %}
                        {% set label = splitname[1] %}
                        {% do waves_passed.append(wave.wave_cohort) %}
                        {% if waves_passed|length > 1 %}
                        </span><br />
                        {% endif %}
                      <span class="cohort-spanner">{{ label }}&nbsp;
                      {% endif %}
                      <span class="label" onmouseenter="tooltipAddElement(this,'{{ wave.wave_description }}',40)" onmouseleave="tooltipRemoveElement('{{ wave.wave_description }}')">{{ wave.wave_title }}</span>
                    {% endif %}
                  {% endfor %}        
               </td></tr>
            {% elif  package.type == 'wave' %} 
            <tr class="table-package-item"><td width="30%">Parent cohort:</td><td><span class="label">{{package.wave_cohort}}</span></td></tr> 
            {% endif %}
            </tbody>
            </table>
             
          {% endblock %}
          {% block banner %}
            {% if banner %}
              <span class="banner">{{ _('Popular') }}</span>
            {% endif %}
          {% endblock %}
          {% block notes %}
            {% if notes %}
              <div class='dataset-description'>{{ notes|urlize }}</div>
            {% else %}
              <p class="empty">{{ _("This dataset has no description") }}</p>
            {% endif %}
            <span class='dataset-date'><small>
              <span class='dataset-date-created'>Created {{ h.render_datetime(package.metadata_created) }}</span>
              <span class='dataset-date-separator'>&bull;</span>
              <span class='dataset-date-updated'>Updated {{ h.render_datetime(package.metadata_modified) }}</span>

              <!-- https://healthicons.org/ -->
              <span class="construct-img">
              {% if package.dc_constructs is defined %}
              {% if package.dc_constructs|length > 0 %}
              {% for constructs in package.dc_constructs %}
                  {% if constructs.dc_construct|lower|trim == 'physiology' %}
                    {%set imgurl = 'src=/icons/svg/outline/body/body.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'mental health' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/mental_disorders.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'cognition' %}
                    {%set imgurl = 'src=/icons/svg/outline/body/neurology.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'personality' %}
                    {%set imgurl = 'src=/icons/svg/outline/emotions/ok.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'parenting' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/child_care.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'sociocognitive and emotional development' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/child_program.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'social and emotional development' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/child_program.svg'%}
                    
                  {% elif constructs.dc_construct|lower|trim == 'relationships' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/group_discussion_meeting.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'life history' %}
                    {%set imgurl = 'src=/icons/svg/outline/symbols/calendar.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'lifestyle' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/wold_care.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'work and school' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/travel_alt.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'demographics' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/i_groups_perspective_crowd.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'social cognition and behavior' or constructs.dc_construct|lower|trim == 'social cognition and behaviour' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/child_cognition.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'language' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/speech_language_therapy.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'infancy' %}
                    {%set imgurl = 'src=/icons/svg/outline/people/baby_0306m.svg'%}

                  {% elif constructs.dc_construct|lower|trim == 'physical health' %}
                    {%set imgurl = 'src=/icons/svg/outline/body/arm.svg'%}
                    
                  {% elif constructs.dc_construct|lower|trim == 'questionnaire' %}
                    {%set imgurl = 'src=/icons/svg/outline/symbols/i_exam_multiple_choice.svg'%}
                  {% endif %}
                  <img style="opacity:0.5" {{imgurl}} width="35px" onmouseenter="tooltipAddElement(this,'{{ constructs.dc_construct|lower|trim }}',30)" onmouseleave="tooltipRemoveElement('{{ constructs.dc_construct|lower|trim }}')">
              {% endfor %}
              {% endif %}
              {% endif %}
              </span>
            
              </small>
            </span>
          {% endblock %}
        <div class="debug" style="display:none" style="margin-top:20px">
          <h5>Debug:</h5>
          <table class="table table-striped table-condensed">
            {% for key, value in package.items() %}
              <tr><td>{{key}}</td><td>{{value}}</td></tr>
            {% endfor %}
            </table>
        </div>
        </div>
        {% block resources %}
          {% if package.resources and not hide_resources %}
            {% block resources_outer %}
              <ul class="dataset-resources list-unstyled">
                {% block resources_inner %}
                  {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                  <li>
                    {% if h.check_ckan_version('2.9') %}
                      <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}#dataset-resources" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
                    {% else %}
                      <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}#dataset-resources" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
                    {% endif %}
                  </li>
                  {% endfor %}
                {% endblock %}
              </ul>
            {% endblock %}
          {% endif %}
        {% endblock %}
      {% endblock %}
    </li>
  {% endblock %}
