{% ckan_extends %}
{% block breadcrumb_content %}
  <li>{% link_for  _('Studies'), named_route=group_type+'.index' %}</li>
  <li class="active">{% link_for group_dict.display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name %}</li>
  <script>
    // Automatically redirect to info screen
    url = '/organization/about/{{group_dict.name}}';
    current_url = window.location.href;
    if (current_url.includes(url) == false && current_url.includes('activity') == false) {
        window.location.replace(url);
    }
    
    document.addEventListener("DOMContentLoaded", function (event) {
      // Change default behavior of link to datasets within organization
      var datasetLink = document.getElementsByClassName('fa fa-sitemap')[0].parentElement;
      if (datasetLink) { $(datasetLink).attr('href', '/dataset/?organization={{group_dict.name}}&dataset_type=dataset');}
      
      navTabs = document.getElementsByClassName('nav-tabs');
      navTabs[0].innerHTML = `<ul class="nav nav-tabs">

        <li><a href="/dataset/?organization={{ group_dict.name }}&amp;dataset_type=dataset"><i class="fa fa-sitemap"></i> Datasets</a></li>
        <li><a href="/dataset/?organization={{ group_dict.name }}&amp;dataset_type=cohort"><i class="fa fa-folder"></i> Cohorts</a></li>
        <li><a href="/dataset/?organization={{ group_dict.name }}&amp;dataset_type=wave"><i class="fa fa-folder"></i> Waves</a></li>
        <li class="active"><a href="/organization/about/l-cid"><i class="fa fa-info-circle"></i> About</a></li>
      </ul>`  
      
      // Hide side-bar description
      var readmoreEl = document.getElementsByClassName('read-more');
      if (readmoreEl) { readmoreEl[0].style.display = 'none'; }
      var descriptionEl = document.getElementsByClassName('description')
      if (descriptionEl) { descriptionEl[0].style.display = 'none'; }
    });
  </script>
  {% endblock %}

