{% test = h.fetch_api('bleidlbleldielemeoemek') %}
<h1>{{ test }}</h1>


<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='dataset' if h.check_ckan_version('2.9') else 'package', action='search' %}">
    <h3 class="heading"><label for="searchbox">{{ _("Search data") }}</label></h3>
    <div class="search-input control-group search-giant">
      <input id="searchbox" type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit" role="presentation" tabindex="-1">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  
  <div class="tags">
    <h3>{{ _('Popular labels') }}</h3>
    {% for label in labels %}
      <a class="tag" href="{% url_for controller='dataset' if h.check_ckan_version('2.9') else 'package', action='search', tags=tag.name %}">{{ h.truncate(label.display_name, 22) }}</a>
    {% endfor %}
  </div>
</div>
