<script>
// little bit of dirty javascript to get popular labels
url = "http://131.211.12.40/api/3/action/package_search?facet.field=[%22dc_label%22]"
  fetch(url)
  .then(res => res.json())
  .then(data => {
    var div = document.getElementById('label-pit');
    console.log(data.result.facets.dc_label)
    const keys = Object.keys(data.result.facets.dc_label);
    for (const key of keys) {
        div.innerHTML += '<a href="{% url_for 'dataset.search' %}/?q='+ key +'" class="label">' + key + '</a>';
           if (keys.indexOf(key) == 8) {
              break;
            }
      }
    });
</script>
  
  

<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='dataset' if h.check_ckan_version('2.9') else 'package', action='search' %}">
    <h3 class="heading"><label for="searchbox">{{ _("Search data") }}</label></h3>
    <div class="search-input control-group search-giant">
      <input id="searchbox" type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit" role="presentation" tabindex="-1">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    <h3>Popular keywords</h3>
    <div id="label-pit"></div>
  </form>
</div>
