<div role="main" class="hero">

  {% snippet 'home/snippets/stats.html' %}
    <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" id="content">
  <div class="container">
    <div class="row margin-b-lg">
      <div class="col-md-6 col-lg-4">
        <div class="card" data-mh="card">
            
              <img src="" alt="" class="card__image">
              <h2 class="card__title">
                  Test Environment for CD<sup>2</sup>
              </h2>
            </a>
            <div class="excerpt">
              <p><span>Welcome to the testing environment for the project "Connecting Data in Child Development".</span></p>
            </div>
            <div class="margin-t-sm">
              <span class="author">
              By
              Pascal Pas
              </span>
              <time class="datetime" datetime="2022-08-02 16:11:08">August 2nd 2022</time>
              <hr class="padding-t-md">
              <small class="padding-t-md">
              <a class="card__blogpg-link" href="/blog">...</a>
              </small>
            </div>
        </div>
      </div>
  </div>
 </div>
</div>
