<div role="main" class="hero">

  {% snippet 'home/snippets/stats.html' %}
    <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" id="content">
  <div class="container">
    <div class="row margin-b-lg">
      <div class="col-md-6 col-lg-4">
        <div class="card" data-mh="card">
            
              <img src="https://www.uu.nl/sites/default/files/styles/image_370x245/public/Bouw.png" alt="" class="card__image">
              <h2 class="card__title">
                  Test Environment for CD<sup>2</sup>
              </h2>
            </a>
            <div class="excerpt">
              <p><span>Welcome to the testing environment for the project "Connecting Data in Child Development".</span></p>
            </div>
            <div class="margin-t-sm">
              <span class="author">
              By
              Pascal Pas
              </span>
              <time class="datetime" datetime="2022-08-02 16:11:08">August 2nd 2022</time>
              <hr class="padding-t-md">
              <small class="padding-t-md">
              <a class="card__blogpg-link" href="/blog">...</a>
              </small>
            </div>
        </div>
      </div>
  </div>


 <div class="margin-b-lg">
  <h2>Recently updated</h2>


  <script>
    url = "http://131.211.12.40/api/3/action/package_search"
    fetch(url)
    .then(res => res.json())
    .then(data => {
      var div = document.getElementById('recently-updated');
      for (const result of data.result.results) {
        console.log(result)
          div.innerHTML += `<div class="col-sm-6 col-lg-4">
                          <a href="" class="link-tile" title="" data-mh="recently-updated-tiles">
                            <span class="link-tile__header">
                              <span class="link-tile__header-text">` +  result.dc_instrument_name + `</span>
                              <span class="link-tile__icon ri ri-arrow-right"></span>
                            </span>
                            <span class="link-tile__content">` +  result.dc_cohort + `
                              <br>
                              <small>`+result.metadata_modified+`</small>
                            </span>
                          </a>
                          </div>`
         if (data.result.results.indexOf(result) == 3) {
                  break;
            }
        }
      });
    </script>
     <div class="row" id="recently-updated">
    
    
     </div>
</div>

</div>
</div>


