

<script>
  document.addEventListener("DOMContentLoaded", function (event) {

    const repeatingElements = document.querySelectorAll('.repeating-element');
    repeatingElements.forEach(element => {
      if (!element.innerHTML.trim()) {
        // Find the parent <tr> element and hide it
        const parentTR = element.closest('tr');
        if (parentTR) {
          parentTR.style.display = 'none';
        }
      }
    });


     // replace nav-tabs with wave/cohort and study information
     navTabs = document.getElementsByClassName('nav-tabs');
     {% if pkg_dict.type == 'measure' %}

 
     // create new tabs based of dataset type
     navTabs[0].innerHTML = `<ul class="nav nav-tabs">
      <li class="active"><a href="#" id="show-measure"><i class="fa fa-sitemap"></i> Measure</a></li>
       <li><a href="#" id="show-study"><i class="fa fa-folder"></i> Study</a></li>
       <li><a href="#" id="show-cohort"><i class="fa fa-folder"></i> Cohorts</a></li>
       <li><a href="#" id="show-wave"><i class="fa fa-folder"></i> Waves</a></li>
     </ul>`  

       // fade in tabs after they've been recreated
       $('.nav-tabs').fadeTo(300, 1);
       $('.description').fadeTo(300, 1);
       $('.read-more').fadeTo(300, 1);
      
    {% endif %}


    $(document).ready(function() {
      function toggleTables(primary, additional, measure, study, cohort, wave) {
        event.preventDefault();
        $("#primary-info").toggle(primary);
        $("#additional-info").toggle(additional);
        $("#table-measure").toggle(measure);
        $("#table-study").toggle(study);
        $("#table-cohort").toggle(cohort);
        $("#table-wave").toggle(wave);
      }

      function setActiveTab(tabElement) {
        $(".nav-tabs li").removeClass("active");
        $(tabElement).parent().addClass("active");
      }

      $("#show-measure").on("click", function(event) {
        toggleTables(true, true, true, false, false, false);
        setActiveTab(this);
      });

      $("#show-study").on("click", function(event) {
        toggleTables(false, false, false, true, false, false);
        setActiveTab(this);
      });

      $("#show-cohort").on("click", function(event) {
        toggleTables(false, false, false, false, true, false);
        setActiveTab(this);
      });

      $("#show-wave").on("click", function(event) {
        toggleTables(false, false, false, false, false, true);
        setActiveTab(this);
      });
    });

    const divInfo = document.getElementById('data-access-info');
    const divHref = document.getElementById('data-access-href');
    divInfo.innerHTML = `{{ pkg_dict.study[0].study_data_access[0].study_data_access_description }}`
    divHref.innerHTML = `<a href="` + `{{ pkg_dict.study[0].study_data_access[0].study_data_access_URL }}` + `" target="blank"><span class="tabspan fa fa-external-link"></span> ` + `{{ pkg_dict.study[0].study_data_access[0].study_data_access_URL }}` + `</a>`;
    $('.data-access').fadeTo(1, 1);
       
  });
  

  {% if pkg_dict.type == 'measure' and pkg_dict.dc_common_id is defined %}
    // query api to find similar datasets based on CD2_ID
      url = "/api/3/action/package_search?fq=dc_common_id:{{pkg_dict.dc_common_id}}"
      fetch(url)
        .then(res => res.json())
        .then(data => {
          let divContent = '';
          const currentItem = '{{ pkg_dict.name }}';
          const div = document.getElementById('similar-measures');
          if (data.result.results.length <= 1) { return; }
          for (item of data.result.results) {
            try {
              if (item.name == currentItem) { continue; } 
              console.log(item)
              let cohorts_passed = []; 
              let wave_count = 0;
              console.log(item.wave)
              console.log("length: " + item.wave.length)
              for (wave_item of item.wave) {
                if (!cohorts_passed.includes(wave_item.wave_cohort)) {
                  if (cohorts_passed.length > 0) {
                    divContent += `</div></a> `
                  }
                  if (item.dc_measure_name) {
                    display_name = item.dc_measure_name;
                  } else {
                    display_name = item.title;
                  }
                  divContent += `<a href="/measure/`+item.name+`"><div style="font-size:10pt" class="cohort-spanner nofunc" onmouseenter="tooltipAddElement(this,'` + display_name.replace("'","\'") + `',30,'info-circle')" onmouseleave="tooltipRemoveElement(this)">`+wave_item.wave_cohort
                  cohorts_passed.push(wave_item.wave_cohort);
                }
                divContent += ` <span class="label">` + wave_item.wave_title + `</span>`
                wave_count ++;
                if (wave_count == item.wave.length) {
                  divContent += `</div></a> `
                }
              }
            
            } catch (error) {
              console.error('An error occurred while iterating through the results:', error);
              return;
            }
          }
          div.innerHTML += divContent + `<div style="margin:10px 5px"><strong><a href="/dataset/?dataset_type=dataset&amp;q=dc_common_id:%22{{pkg_dict.dc_common_id}}%22">View all</a></strong></div>`
          $('.similar-datasets').fadeTo(1, 1);
        });
    {% endif %}

    
  
</script>


{% if pkg_dict.dc_additional_info %} 
<p id="additional-info"><span class="fa fa-info-circle"></span> {{pkg_dict.dc_additional_info}}
</p>
{% endif %}

<section class="additional-info" id="table-main">
  <table class="table table-striped table-condensed dropshadow" id="table-measure">
  
    {% if pkg_dict.type == 'measure' %}
    <tr>
      <th style="width: 20%" scope="row" class="dataset-label">Labels</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% set labels = pkg_dict.dc_labels %}
      {% for label in labels  %}
        {% if label.length != 0 %}
        {% set labelname = label["dc_label"] %}
        <li>
          <a href="{% url_for 'dataset.search', dc_label=labelname %}" class="label label-info">{{label["dc_label"]}}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
      </td>
    </tr>

    <tr>
      <th scope="row" class="dataset-label">Constructs</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% set constructs = pkg_dict.dc_constructs %}
      {% for construct in constructs  %}
      {% if construct.length != 0 %}
      {% set constructname = construct["dc_construct"] %}
        <li>
          <a href="{% url_for 'dataset.search', dc_construct=constructname %}" class="label label-info info-hover" onmouseenter="tooltipAddElement(this,constructLegend('{{ construct["dc_construct"] }}'),40,'info-circle')" onmouseleave="tooltipRemoveElement(this)">{{construct["dc_construct"]}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    </td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">Waves</th>
      <td class="dataset-details">
      <div class="dataset-resources list-unstyled">

      {% set waves = pkg_dict.wave %}
      {% set waves_passed = [] %}
      {% for wave in waves %}
              {% if wave.wave_cohort %}
              {% if wave.wave_cohort not in waves_passed %}
                {% do waves_passed.append(wave.wave_cohort) %}
                {% if waves_passed|length > 1 %}
                  </div>
                {% endif %}
                {% set splitname = wave.wave_cohort.split(':') %}
                <div class="cohort-spanner parent-spanner"><li class="label label-cohort">{{ splitname[1] }} <span class="fa fa-level-down"></span></li><br />
              {% endif %}
              {% set waveDescription = wave.wave_description | replace("'","\&apos;") | replace('\n', '') %}
              {% set waveSubjectCode = wave.wave_subject_codes | replace("[","") | replace("]","") | replace("'","") %}
              <span class="cohort-spanner wave-spanner"><li onmouseenter="tooltipAddElement(this,'{{ waveDescription }}',40,'info-circle')" onmouseleave="tooltipRemoveElement(this)">{{wave.wave_title}}</li> 
              {% if ',' in waveSubjectCode %}
                {% set waveSubjectCodes = waveSubjectCode.split(',') %}
                {% for waveCode in waveSubjectCodes %}
                  <span class="label info-hover" onmouseenter="tooltipAddElement(this,createLegendString('{{ waveCode|trim }}'),40,'user-o')" onmouseleave="tooltipRemoveElement(this)">{{ waveCode|trim }}</span>
                {% endfor %}
              {% else %}
                <span class="label info-hover" onmouseenter="tooltipAddElement(this,createLegendString('{{ waveSubjectCode|trim }}'),40,'user-o')" onmouseleave="tooltipRemoveElement(this)">{{ waveSubjectCode }}</span>
              {% endif %}
              <hr style="border:0.5px solid">
              <span class="label" style="background-color:#aaa">
                {% if wave.wave_universe.find("-") == -1 %}
                  {% set value = wave.wave_universe|int %}
                  {% if value >= 48 %}
                    {{ value/12|round }} years
                  {% else %}
                    {{ value }} months
                  {% endif %}
                {% else %}
                  {% set parts = wave.wave_universe.split("-") %}
                  {% set start = parts[0]|int %}
                  {% set end = parts[1]|int %}
                  {% if start >= 48 %}
                    {{ (start/12)|round(1) }} -
                  {% else %}
                    {{ start }} months -
                  {% endif %}
                  {% if end >= 48 %}
                    {{ (end/12)|round(1) }} years
                  {% else %}
                    {{ end }} months
                  {% endif %}
                {% endif %}
              </span>&nbsp;
              {% if wave.wave_start_date_collection %}
              <span class="label" style="background-color:#aaa">
                From {{wave.wave_start_date_collection}} 
                {% if wave.wave_end_date_collection %} 
                to {{wave.wave_end_date_collection}} 
                {% else %}
                (ongoing)
                {% endif %}
              </span>
              {% endif %}
              </span><br />
              {% endif %}
      {% endfor %}
      </ul>
      </td>
    </tr>



    <tr>
      <th scope="row" class="dataset-label">Mode of collection</th>
      <td class="dataset-details">
      <span class="label info-hover" style="line-height:2" onmouseenter="tooltipAddElement(this,constructLegend('{{ pkg_dict.dc_mode_of_collection }}'),40,'info-circle')" onmouseleave="tooltipRemoveElement(this)">{{ pkg_dict.dc_mode_of_collection }}</span>
      {% if pkg_dict.dc_mode_of_collection_sub %}
      &nbsp;<i class="fa fa-chevron-right" aria-hidden="true" style="color:#777"></i>&nbsp;<span class="label info-hover" style="line-height:2" onmouseenter="tooltipAddElement(this,constructLegend('{{ pkg_dict.dc_mode_of_collection_sub }}'),40,'info-circle')" onmouseleave="tooltipRemoveElement(this)">{{ pkg_dict.dc_mode_of_collection_sub }}</span>
      {% endif %}
      </td>
    </tr>





  


      {% elif pkg_dict.type == 'wave' %}

      <tr>
        <th scope="row" class="dataset-label">Cohort</th>
        <td class="dataset-details">
        <ul class="dataset-resources list-unstyled">
        <li><a href="/cohort/{{pkg_dict.wave_cohort_ckan_id}}" class="label label-info">{{pkg_dict.wave_cohort}}</a></li>
        </ul>
        </td>
      </tr>

      <tr>
        <th scope="row" class="dataset-label">Subject age</th>
        <td class="dataset-details">
        <ul class="dataset-resources list-unstyled"> <li>
        {% if pkg_dict.wave_universe.find("-") == -1 %}
          {% set value = pkg_dict.wave_universe|int %}
          {% if value >= 48 %}
            {{ value/12|round }} years
          {% else %}
            {{ value }} months
          {% endif %}
        {% else %}
          {% set parts = pkg_dict.wave_universe.split("-") %}
          {% set start = parts[0]|int %}
          {% set end = parts[1]|int %}
          {% if start >= 48 %}
            {{ start/12|round }} -
          {% else %}
             {{ start }} months -
          {% endif %}
          {% if end >= 48 %}
           {{ end/12|round }} years
          {% else %}
           {{ end }} months
          {% endif %}
        {% endif %}
        </li>
        </ul>
        </td>
      </tr>
      {% if pkg_dict.wave_start_date_collection %}
      <tr>
        <th scope="row" class="dataset-label">Time span</th>
        <td class="dataset-details">
            From {{pkg_dict.wave_start_date_collection}} 
            {% if pkg_dict.wave_end_date_collection %} 
            to {{pkg_dict.wave_end_date_collection}} 
            {% else %}
            (ongoing)
            {% endif %}
        </td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row" class="dataset-label">Geographic location</th>
        <td class="dataset-details">
        <span class="label" style="line-height:2">{{ pkg_dict.wave_spatial_geographic_location }} {{ pkg_dict.wave_spatial_country_code }}</span>
        </td>
      </tr>
      {% endif %}
      {% block package_additional_info_measure %}
      {% endblock %}
      
    </tbody>
  </table>
</section>


  <section class="additional_content" id="table-study" style="display:none">
  {% block package_additional_info_study %}
  {% endblock %}
  </section>
  <section class="additional_content" id="table-cohort" style="display:none">
  {% block package_additional_info_cohort %}
  {% endblock %}
  </section>
  <section class="additional_content" id="table-wave" style="display:none">
  {% block package_additional_info_wave %}
  {% endblock %}
  </section>

  <script>
    const section = document.getElementById('table-study');
    const tableStudy = section.querySelector('table');
    tableStudy.style.display = 'block';

    const headers = document.querySelectorAll('.collapsible-header');
  
    headers.forEach(header => {
      header.addEventListener('click', () => {
        // Get the next element, which should be the table
        const table = header.nextElementSibling;
        
        // Toggle the display property of the table between 'block' and 'none'
        if (table.style.display === 'none') {
          table.style.display = 'block';
        } else {
          table.style.display = 'none';
        }
      });
    });
    </script>



<div class="search-result-api-message message" style="margin-top:100px">
  <span class="fa fa-lightbulb-o"></span>
        <small>
        You can also access this dataset using the <a href="/api/3/action/package_show?id={{pkg_dict.name}}">API</a> (see <a href="http://docs.ckan.org/en/2.9/api/">API Docs</a>).
        </small>
</div>


<div class="debug" style="display:none">
  <table class="table table-striped table-condensed">
    {% for key, value in pkg_dict.items() %}
      <tr><td>{{key}}</td><td>{{value}}</td></tr>
    {% endfor %}
   </table>
</div>