

<script>
  document.addEventListener("DOMContentLoaded", function (event) {

    // hide empty repeating fields
    const repeatingElements = document.querySelectorAll('.repeating-element');
    repeatingElements.forEach(element => {
      if (!element.innerHTML.trim()) {
        element.parentElement.style.display = 'none';
      }
    });

    // replace nav-tabs with wave/cohort and study information
    navTabs = document.getElementsByClassName('nav-tabs');
    {% if pkg_dict.type == 'dataset' %}
    {% set waves = pkg_dict.wave %}
    {% set wave_query = [] %}
    {% set cohort_query = [] %}
    
    // build querystrings to display linked waves and cohorts
    {% for wave in waves %}
      {% do wave_query.append("wave_title%3D%22" ~ wave.wave_title ~ "%22") %}
      {% do cohort_query.append("title%3D%22" ~ wave.wave_cohort ~ "%22") %}
    {% endfor %}

    // create new tabs based of dataset type
    navTabs[0].innerHTML = `<ul class="nav nav-tabs">
      <li><a href="/organization/about/{{ pkg_dict.organization.name }}"><i class="fa fa-folder-open"></i> Faculty</a></li>
      <li class="active"><a href="#"><i class="fa fa-sitemap"></i> Dataset</a></li>
    </ul>`  
    {% elif pkg_dict.type == 'wave' %}
      navTabs[0].innerHTML = `<ul class="nav nav-tabs">
        <li><a href="/organization/about/{{ pkg_dict.organization.name }}"><i class="fa fa-folder"></i> Study</a></li>
        <li><a href="/cohort/{{pkg_dict.wave_cohort_ckan_id}}"><i class="fa fa-folder"></i> Cohort</a></li>
        <li class="active"><a class="pointer" href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=wave&amp;sort=wave_start_date_collection+asc"><i class="fa fa-folder-open"></i> Waves</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=dataset&amp;wave_title={{ pkg_dict.title }}"><i class="fa fa-sitemap"></i> Datasets</a></li>
      </ul>`  
      {% elif pkg_dict.type == 'cohort' %}
      navTabs[0].innerHTML = `<ul class="nav nav-tabs">
        <li><a href="/organization/about/{{ pkg_dict.organization.name }}"><i class="fa fa-folder"></i> Study</a></li>
        <li class="active"><a class="pointer" href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=cohort"><i class="fa fa-folder-open"></i> Cohorts</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=wave&amp;wave_cohort={{ pkg_dict.title }}&amp;sort=wave_start_date_collection+asc"><i class="fa fa-folder"></i> Waves</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=dataset&amp;wave_cohort={{ pkg_dict.title }}"><i class="fa fa-sitemap"></i> Datasets</a></li>
      </ul>` 
      {% elif pkg_dict.type == 'study' %}
      navTabs[0].innerHTML = `<ul class="nav nav-tabs">
        <li class="active"><a href="/study/{{ pkg_dict.name }}"><i class="fa fa-folder-open"></i> About</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.name }}&amp;dataset_type=cohort"><i class="fa fa-folder"></i> Cohorts</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.name }}&amp;dataset_type=wave&amp;sort=wave_start_date_collection+asc"><i class="fa fa-folder"></i> Waves</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.name }}&amp;dataset_type=dataset"><i class="fa fa-sitemap"></i> Datasets</a></li>
      </ul>`  
      $('#block_nums').fadeTo(300, 1);

      {% endif %}
      // fade in tabs after they've been recreated
      $('.nav-tabs').fadeTo(300, 1);

      {% if pkg_dict.type != 'study' %}
      $('.description').fadeTo(300, 1);
      $('.read-more').fadeTo(300, 1);
      {% endif %}

  });

  {% if pkg_dict.type == 'dataset' and pkg_dict.dc_common_id is defined %}
    // query api to find similar datasets based on CD2_ID
    url = "/api/3/action/package_search?fq=dc_common_id:{{pkg_dict.dc_common_id}}"
    fetch(url)
      .then(res => res.json())
      .then(data => {
        let divContent = '';
        const currentItem = '{{ pkg_dict.name }}';
        const div = document.getElementById('similar-datasets');
        if (data.result.results.length <= 1) { return; }
        for (item of data.result.results) {
          try {
            if (item.name == currentItem) { continue; } 
            divContent += `<a href="/dataset/`+item.name+`"><div class="cohort-spanner nofunc">`+item.dc_cohort
            for (wave of item.wave) {
              divContent += ` <span class="label">` + wave.wave_title + `</span>`
            } 
            divContent += `</div></a> `
          } catch (error) {
            console.error('An error occurred while iterating through the results:', error);
            return;
          }
        }
        div.innerHTML += divContent + `<div style="margin:10px 5px"><strong><a href="/dataset/?dataset_type=dataset&amp;q=dc_common_id:%22{{pkg_dict.dc_common_id}}%22">View all</a></strong></div>`
        $('.similar-datasets').fadeTo(1, 1);
      });
    {% endif %}

    // query api to find data access information from study info
    url = "/api/3/action/package_show?id={{pkg_dict.organization.name}}"
    fetch(url)
    .then(res => res.json())
    .then(data => {
      const divInfo = document.getElementById('data-access-info');
      const divHref = document.getElementById('data-access-href');
      if (data.result.cohort_study_data_access){
        divInfo.innerHTML = data.result.cohort_study_data_access[0].cohort_study_data_access_description;
        divHref.innerHTML = `<a href="` + data.result.cohort_study_data_access[0].cohort_study_data_access_URL + `" target="blank"><span class="tabspan fa fa-external-link"></span> ` + data.result.cohort_study_data_access[0].cohort_study_data_access_URL + `</a>`;
        $('.data-access').fadeTo(1, 1);
      }
    });
</script>


{% if pkg_dict.dc_additional_info %} 
<p><span class="fa fa-info-circle"></span> {{pkg_dict.dc_additional_info}}
</p>
{% endif %}

<section class="additional-info">
  <table class="table table-striped table-condensed dropshadow">
   
    <tr>
      <th style="width: 20%" scope="row" class="dataset-label">Labels</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% for tag in pkg_dict.tags  %}
        <li>
          <a href="{% url_for 'dataset.search', tag=tag.display_name %}" class="label label-info">{{ tag.display_name }}</a>
        </li>
      {% endfor %}
      </ul>
      </td>
    </tr>

    <tr>
      <th style="width: 20%" scope="row" class="dataset-label">Author</th>
      <td class="dataset-details">
      {{ pkg_dict.author }}
      </td>
    </tr>

    <tr>
      <th style="width: 20%" scope="row" class="dataset-label">License</th>
      <td class="dataset-details">
        {{ pkg_dict.license_id }}
      </td>
    </tr>

    <tr>
      <th style="width: 20%" scope="row" class="dataset-label">Publication details</th>
      <td class="dataset-details">
        <ul class="dataset-resources list-unstyled">
        {% for item in pkg_dict.extras %}
        {% if not item.key.startswith('harvest') %}
            <li><strong>{{ item.key }}:</strong> {{ item.value }}</li><br />
        {% endif %}
        {% endfor %}
        </ul>
      </td>
    </tr>

  
    
    <tr>
      <th style="width: 20%" scope="row" class="dataset-label">Source</th>
      <td class="dataset-details">
        <a href="{{ pkg_dict.url }}" target="_blank">{{ pkg_dict.url }}</a>
      </td>
    </tr>

 
   

     
      {% block package_additional_info %}
      {% endblock %}
      
    </tbody>
  </table>


  <div class="debug" style="display:none">
    <table class="table table-striped table-condensed">
      {% for key, value in pkg_dict.items() %}
        <tr><td>{{key}}</td><td>{{value}}</td></tr>
      {% endfor %}
     </table>
  </div>
</section>



