

<script>
  document.addEventListener("DOMContentLoaded", function (event) {

    // add hyperlinks to content
    const isORCID = (identifier) => {
      return identifier.length > 0 && /(\d{4}-){3}\d{3}(\d|X)/.test(identifier)
    }
    const elCells = document.getElementsByClassName('repeating-element');
    for (const field of elCells) {
      if (field.innerHTML.startsWith('http')) { // is http(s)
        field.innerHTML = `<a href="`+ field.innerHTML +`" target="blank">` + field.innerHTML + `</a>`;
      } else if (isORCID(field.innerHTML)) { // is orcid
        field.innerHTML = `<a href="https://orcid.org/`+ field.innerHTML +`" target="blank">` + field.innerHTML + `</a>`;
      }
    }

    // replace nav-tabs with wave/cohort and study information
    navTabs = document.getElementsByClassName('nav-tabs');
    {% if pkg_dict.type == 'dataset' %}

    {% set waves = pkg_dict.wave %}
    {% set wave_query = [] %}
    {% set cohort_query = [] %}
    
    {% for wave in waves %}
      {% do wave_query.append("wave_title%3D%22" ~ wave.wave_title ~ "%22") %}
      {% do cohort_query.append("title%3D%22" ~ wave.wave_cohort ~ "%22") %}
    {% endfor %}

    // create new tabs based of dataset type
    navTabs[0].innerHTML = `<ul class="nav nav-tabs">
      <li><a href="/organization/about/{{ pkg_dict.organization.name }}"><i class="fa fa-folder-open"></i> Study</a></li>
      <!--<li><a href="/dataset/?q={{ cohort_query|join('||')|safe }}&amp;dataset_type=cohort"><i class="fa fa-folder-open"></i> Cohorts</a></li><li><a href="/dataset/?q={{ wave_query|join('||')|safe }}&amp;dataset_type=wave"><i class="fa fa-folder-open"></i> Waves</a></li>-->
      <li class="active"><a href="#"><i class="fa fa-sitemap"></i> Dataset</a></li>
    </ul>`  
    {% elif pkg_dict.type == 'wave' %}
      navTabs[0].innerHTML = `<ul class="nav nav-tabs">
        <li><a href="/organization/about/{{ pkg_dict.organization.name }}"><i class="fa fa-folder"></i> Study</a></li>
        <li><a href="/cohort/{{pkg_dict.wave_cohort_ckan_id}}"><i class="fa fa-folder"></i> Cohort</a></li>
        <li class="active"><a href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=wave"><i class="fa fa-folder-open"></i> Waves</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=dataset&amp;wave_title={{ pkg_dict.title }}"><i class="fa fa-sitemap"></i> Datasets</a></li>
      </ul>`  
      {% elif pkg_dict.type == 'cohort' %}
      navTabs[0].innerHTML = `<ul class="nav nav-tabs">
        <li><a href="/organization/about/{{ pkg_dict.organization.name }}"><i class="fa fa-folder"></i> Study</a></li>
        <li class="active"><a href="#"><i class="fa fa-folder-open"></i> Cohorts</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=wave&amp;wave_cohort={{ pkg_dict.title }}"><i class="fa fa-folder"></i> Waves</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.organization.name }}&amp;dataset_type=dataset&amp;wave_cohort={{ pkg_dict.title }}"><i class="fa fa-sitemap"></i> Datasets</a></li>
      </ul>` 
      {% elif pkg_dict.type == 'study' %}
      navTabs[0].innerHTML = `<ul class="nav nav-tabs">
        <li class="active"><a href="/study/{{ pkg_dict.name }}"><i class="fa fa-folder-open"></i> About</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.name }}&amp;dataset_type=cohort"><i class="fa fa-folder"></i> Cohorts</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.name }}&amp;dataset_type=wave"><i class="fa fa-folder"></i> Waves</a></li>
        <li><a href="/dataset/?organization={{ pkg_dict.name }}&amp;dataset_type=dataset"><i class="fa fa-sitemap"></i> Datasets</a></li>
      </ul>`  

      {% endif %}
      // fade in tabs after they've been recreated
      $('.nav-tabs').fadeTo(300, 1);

      {% if pkg_dict.type != 'study' %}
      $('.description').fadeTo(300, 1);
      $('.read-more').fadeTo(300, 1);
      {% endif %}
  });
</script>

<section class="additional-info">
  <table class="table table-striped table-condensed dropshadow">
    <tbody>
    <tr id="relationship"></tr>
    {% if pkg_dict.type == 'dataset' %}
    <tr>
      <th style="width: 20%" scope="row" class="dataset-label">Labels</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% set labels = pkg_dict.dc_labels %}
      {% for label in labels  %}
        {% if label.length != 0 %}
        {% set labelname = label["dc_label"] %}
        <li>
          <a href="{% url_for 'dataset.search', dc_label=labelname %}" class="label label-info">{{label["dc_label"]}}</a>
      </li>
        {% endif %}
      {% endfor %}
      </ul>
      </td>
    </tr>

    <tr>
      <th scope="row" class="dataset-label">Constructs</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% set constructs = pkg_dict.dc_constructs %}
      {% for construct in constructs  %}
      {% if construct.length != 0 %}
      {% set constructname = construct["dc_construct"] %}
        <li>
          <a href="{% url_for 'dataset.search', dc_construct=constructname %}" class="label label-info info-hover" onmouseenter="tooltipAddElement(this,constructLegend('{{ construct["dc_construct"] }}'),40,'info-circle')" onmouseleave="tooltipRemoveElement(constructLegend('{{ construct["dc_construct"] }}'))">{{construct["dc_construct"]}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    </td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">Available measurements:</th>
      <td class="dataset-details">
      <div class="dataset-resources list-unstyled">

      {% set waves = pkg_dict.wave %}
      {% set waves_passed = [] %}
      {% for wave in waves %}
              {% if wave.wave_cohort %}
              {% if wave.wave_cohort not in waves_passed %}
                {% do waves_passed.append(wave.wave_cohort) %}
                {% if waves_passed|length > 1 %}
                  </div>
                {% endif %}
                {% set splitname = wave.wave_cohort.split(':') %}
                <div class="cohort-spanner parent-spanner"><a href="/cohort/{{ wave.wave_cohort_ckan_id }}"><li class="label label-cohort">{{ splitname[1] }} <span class="fa fa-level-down"></span></li></a><br />
              {% endif %}
              {% set waveSubjectCode = wave.wave_subject_codes | replace("[","") | replace("]","") | replace("'","") %}
              <span class="cohort-spanner wave-spanner"><li onmouseenter="tooltipAddElement(this,'{{ wave.wave_description }}',40,'info-circle')" onmouseleave="tooltipRemoveElement('{{ wave.wave_description }}')"><a href="/wave/{{ wave.wave_ckan_id }}" class="label label-info">{{wave.wave_title}}</a></li> 
              {% if ',' in waveSubjectCode %}
                {% set waveSubjectCodes = waveSubjectCode.split(',') %}
                {% for waveCode in waveSubjectCodes %}
                  <span class="label info-hover" onmouseenter="tooltipAddElement(this,createLegendString('{{ waveCode|trim }}'),40,'user-o')" onmouseleave="tooltipRemoveElement(createLegendString('{{ waveCode|trim }}'))">{{ waveCode|trim }}</span>
                {% endfor %}
              {% else %}
                <span class="label info-hover" onmouseenter="tooltipAddElement(this,createLegendString('{{ waveSubjectCode }}'),40,'user-o')" onmouseleave="tooltipRemoveElement(createLegendString('{{ waveSubjectCode }}'))">{{ waveSubjectCode }}</span>
              {% endif %}
              </span><br />
              {% endif %}
      {% endfor %}
      </ul>
      </td>
    </tr>

    <tr>
      <th scope="row" class="dataset-label">Mode of collection:</th>
      <td class="dataset-details">
      <span class="label">{{ pkg_dict.dc_mode_of_collection }}</span>
      {% if pkg_dict.dc_mode_of_collection_sub %}
      &nbsp;<i class="fa fa-chevron-right" aria-hidden="true" style="color:#777"></i>&nbsp;<span class="label">{{ pkg_dict.dc_mode_of_collection_sub }}</span>
      {% endif %}
      </td>
    </tr>


      {% elif pkg_dict.type == 'wave' %}
      
      <tr>
        <th scope="row" class="dataset-label">Parent cohort:</th>
        <td class="dataset-details">
        <ul class="dataset-resources list-unstyled">
        <li><a href="/cohort/{{pkg_dict.wave_cohort_ckan_id}}" class="label label-info">{{pkg_dict.wave_cohort}}</a></li>
        </ul>
        </td>
      </tr>

      <tr>
        <th scope="row" class="dataset-label">Subject age:</th>
        <td class="dataset-details">
        <ul class="dataset-resources list-unstyled"> <li>
            {{pkg_dict.wave_universe}} months
        </li>
        </ul>
        </td>
      </tr>

      {% if pkg_dict.wave_start_date_collection %}
      <tr>
        <th scope="row" class="dataset-label">Time span:</th>
        <td class="dataset-details">
            {{pkg_dict.wave_start_date_collection}} 
            {% if pkg_dict.wave_end_date_collection %} 
            to {{pkg_dict.wave_end_date_collection}} 
            {% else %}
            (ongoing)
            {% endif %}
        </td>
      </tr>
      {% endif %}

      {% endif %}



      {% block package_additional_info %}
      {% endblock %}
      
    </tbody>
  </table>


  <div class="debug" style="display:none">
    <table class="table table-striped table-condensed">
      {% for key, value in pkg_dict.items() %}
        <tr><td>{{key}}</td><td>{{value}}</td></tr>
      {% endfor %}
     </table>
  </div>
</section>



