
<div class='modal fade' id='facetModal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3 class='modal-title' id='modalTitle'></h3>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <ul class="menu blog-filter-menu" id="modalBody">

        </ul>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>r
</div>

<script>
document.getElementById('site-search-wrap').style.display = 'none';
  /**
  * Javascript to fetch json from CKAN API and add content to homepage
  * Todo: TODO: combine into functions
  */
  url = "/api/3/action/package_search?fq=type:dataset" // recently updated
  fetch(url)
    .then(res => res.json())
    .then(data => {
      var div = document.getElementById('recently-updated');
      for (const result of data.result.results) {
        div.innerHTML += `<div class="col-sm-6 col-lg-4">
                        <a href="{% url_for 'dataset.search' %}`+ result.id + `" class="link-tile dropshadow" title="" data-mh="recently-updated-tiles">
                          <span class="link-tile__header">
                            <span class="link-tile__header-text">` + result.title + `</span>
                            <span class="link-tile__icon ri ri-arrow-right"></span>
                          </span>
                          <span class="link-tile__content">` + result.organization.title + `
                            <br>
                            <small>`+ result.metadata_modified.substr(0,10) + `</small>
                          </span>
                        </a>
                        </div>`
        if (data.result.results.indexOf(result) == 2) {
          break;
        }
      }
    });

  url = "/api/3/action/package_search?facet.field=[%22dc_label%22]&facet.limit=1000"  // popular labels
  fetch(url)
    .then(res => res.json())
    .then(data => {
      var ulLabel = document.getElementById('label-pit');
      labelKeys = Object.keys(data.result.facets.dc_label);
      for (key of labelKeys) {
        ulLabel.innerHTML += '<li><a href="{% url_for "dataset.search" %}?dc_label=' + key + '" class="category-select">' + key + '</a></li>';
        if (labelKeys.indexOf(key) == 14) {
          break;
        }
      }
    });

  url = "/api/3/action/package_search?facet.field=[%22dc_construct%22]&facet.limit=1000" // popular constructs
  fetch(url)
    .then(res => res.json())
    .then(data => {
      var ulCon = document.getElementById('construct-pit');
      for (let [key, value] of Object.entries(data.result.facets.dc_construct)) {
          ulCon.innerHTML += '<li class="construct-pit"><a href="{% url_for "dataset.search" %}?dc_construct=' + key + '" class="category-select">' + key + '<span class="label label-front">'+value+'</span></a></li>';
      }
    });   
</script>


<script>document.addEventListener("DOMContentLoaded", function (event) {
  //$('#hero').fadeTo(400,1); 
});
</script>
<div role="main" class="hero" id="hero">
  <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% block search %}
        {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" id="content" class="homepage-content">
  <div class="container">

    <div class="margin-b-lg">
      <h4>Most used labels</h4>
      <div class="row">
        <ul class="menu blog-filter-menu" id="label-pit">
        </ul>
      </div>
    </div>

    <div class="margin-b-lg">
			<h4>Datasets by construct</h4>
				<div class="row">
					<ul class="menu blog-filter-menu" id="construct-pit">
						
					</ul>
				</div>
			
		</div>


    <div class="margin-b-lg">
      <h4>Recently updated</h4>
      <div class="row" id="recently-updated">
      </div>
    </div>

    <div class="margin-b-lg">
      <h4>News</h4>
      <div class="col-md-6 col-lg-4">
        <div class="card" data-mh="card">
          <img src="https://www.uu.nl/sites/default/files/styles/image_370x245/public/Bouw.png" alt=""
            class="card__image">
          <h2 class="card__title">
            Test Environment for CD<sup>2</sup>
          </h2>
          </a>
          <div class="excerpt">
            <p><span>Welcome to the testing environment for the project "Connecting Data in Child Development".</span>
            </p>
          </div>
          <div class="margin-t-sm">
            <span class="author">
              By
              Pascal Pas
            </span>
            <time class="datetime" datetime="2022-08-02 16:11:08">August 2nd 2022</time>
            <hr class="padding-t-md">
            <small class="padding-t-md">
              <a class="card__blogpg-link" href="/blog">...</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>