
<div class='modal fade' id='facetModal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3 class='modal-title' id='modalTitle'></h3>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <ul class="menu blog-filter-menu" id="modalBody">

        </ul>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById('site-search-wrap').style.display = 'none';
  /**
  * Javascript to fetch json from CKAN API and add content to homepage
  */
  async function fetchPopularLabels() {
    try {
      const response = await fetch("/api/3/action/package_search?facet.field=[%22dc_label%22]&facet.limit=1000");
      const data = await response.json();
      const popularLabels = Object.keys(data.result.facets.dc_label);
      const slicedLabels = popularLabels.slice(0, 15);
      const labelList = slicedLabels.map(key => `
        <li>
          <a href="{% url_for controller='measure', action='search' %}?dc_label=${key}" class="category-select">${key}</a>
        </li>
      `).join("");
      document.getElementById('label-pit').innerHTML = labelList;
    } catch (error) {
      console.error(error);
    }
  }
  fetchPopularLabels();
    
  async function fetchConstructs() {
    try {
      const response = await fetch("/api/3/action/package_search?facet.field=[%22dc_construct%22]&facet.limit=1000");
      const data = await response.json();
      const constructList = Object.entries(data.result.facets.dc_construct)
        .map(([key, value]) => `
          <li class="construct-pit">
            <a href="{% url_for controller='measure', action='search' %}?dc_construct=${key}" class="category-select">
              <span class="construct-overflow" onmouseenter="tooltipAddElement(this,'<strong>' + '${key}' + '</strong>: ' + constructLegend('${key}'),25,'info-circle')" onmouseleave="tooltipRemoveElement(this)">${key}</span>
              <span class="label label-front">${value}</span>
            </a>
          </li>
        `)
        .join("");
      
      document.getElementById('construct-pit').innerHTML = constructList;
    } catch (error) {
      console.error(error);
    }
  }
  fetchConstructs();
  
  const fetchRecentlyUpdatedDatasets = async () => {
    try {
      const response = await fetch("/api/3/action/package_search?fq=type:measure");
      const { result } = await response.json();
      const recentlyUpdated = result.results.slice(0, 4);
  
      const recentlyUpdatedDiv = document.getElementById("recently-updated");
      recentlyUpdated.forEach(dataset => {
        const { id, title, organization, metadata_modified } = dataset;
        recentlyUpdatedDiv.innerHTML += `
          <div class="col-sm-3">
            <a href="{% url_for 'dataset.search' %}${id}" class="link-tile dropshadow" title="" data-mh="recently-updated-tiles">
              <span class="link-tile__header">
                <span class="link-tile__header-text">${title}</span>
              </span>
              <span class="link-tile__content">${organization.title}
                <br>
                <small>${metadata_modified.substr(0, 10)}</small>
              </span>
            </a>
          </div>
        `;
      });
    } catch (error) {
      console.error(error);
    }
  };
  fetchRecentlyUpdatedDatasets();
</script>

<div role="main" class="hero" id="hero">
  <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% block search %}
        {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" id="content" class="homepage-content">
  <div class="container">

    <div style="border: none;border-radius: 10px;background-color: #fafafa;padding: 10px 20px;" class="margin-b-lg dropshadow">
      <h4>Welcome to the Individual Development Data Catalogue</h4>
         <p style="padding: 0px;">This portal serves as a centralized metadata repository for six Dutch developmental cohort studies, collectively organized under the Consortium on Individual Development (CID). The platform provides access to metadata that covers various measures related to child development. Be aware that data availability and procedural guidelines may differ across individual cohort studies.</div>

    <div class="margin-b-lg">
      <h8>Most used keywords <span onmouseenter="tooltipAddElement(this,'Keywords are uncontrolled labels applied to measures.',30,'info-circle')" onmouseleave="tooltipRemoveElement(this)" class="fa fa-info-circle hover" style="color:#999"></span></h8>
      <div class="row">
        <ul class="menu blog-filter-menu" id="label-pit">
        </ul>
      </div>
    </div>

    <div class="margin-b-lg">
			<h8>Measures by construct <span onmouseenter="tooltipAddElement(this,'Constructs are pre-defined categories. One or more constructs can be applied to a measure.',30,'info-circle')" onmouseleave="tooltipRemoveElement(this)" class="fa fa-info-circle hover" style="color:#999"></span></h8>
				<div class="row">
					<ul class="menu blog-filter-menu" id="construct-pit">
						
					</ul>
				</div>
			
		</div>


    <div class="margin-b-lg">
      <h8>Recently updated</h8>
      <div class="row" id="recently-updated">
      </div>
    </div>

    <!-- <div class="margin-b-lg">
     <h4 id="news">News</h4>
      <div class="col-md-6 col-lg-4">
        <div class="card" data-mh="card">
          <img src="https://www.uu.nl/sites/default/files/styles/image_370x245/public/Bouw.png" alt=""
            class="card__image">
          <h2 class="card__title">
            Test Environment for CD<sup>2</sup>
          </h2>
          </a>
          <div class="excerpt">
            <p><span>Welcome to the beta environment for the project "Connecting Data in Child Development". This website is currently under development, and as such is still prone to bugs and content issues.</span>
            </p>
          </div>
          <div class="margin-t-sm">
            <span class="author">
              By
              Pascal Pas
            </span>
            <time class="datetime" datetime="2022-08-02 16:11:08">March 1st 2023</time>
            <hr class="padding-t-md">
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>
