
<div class='modal fade' id='facetModal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3 class='modal-title' id='modalTitle'></h3>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <ul class="menu blog-filter-menu" id="modalBody">

        </ul>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>r
</div>

<script>
document.getElementById('site-search-wrap').style.display = 'none';
  /**
  * Javascript to fetch json from CKAN API and add content to homepage
  */
  async function fetchPopularLabels() {
    try {
      const response = await fetch("/api/3/action/package_search?facet.field=[%22dc_label%22]&facet.limit=1000");
      const data = await response.json();
      const popularLabels = Object.keys(data.result.facets.dc_label);
      const slicedLabels = popularLabels.slice(0, 15);
      const labelList = slicedLabels.map(key => `
        <li>
          <a href="{% url_for 'dataset.search' %}?dc_label=${key}" class="category-select">${key}</a>
        </li>
      `).join("");
      document.getElementById('label-pit').innerHTML = labelList;
    } catch (error) {
      console.error(error);
    }
  }
  fetchPopularLabels();
    
  async function fetchConstructs() {
    try {
      const response = await fetch("/api/3/action/package_search?facet.field=[%22dc_construct%22]&facet.limit=1000");
      const data = await response.json();
      const constructList = Object.entries(data.result.facets.dc_construct)
        .map(([key, value]) => `
          <li class="construct-pit">
            <a href="{% url_for 'dataset.search' %}?dc_construct=${key}" class="category-select">
              <span class="construct-overflow" onmouseenter="tooltipAddElement(this,constructLegend('${key}'),25,'info-circle')" onmouseleave="tooltipRemoveElement(this)">${key}</span>
              <span class="label label-front">${value}</span>
            </a>
          </li>
        `)
        .join("");
      
      document.getElementById('construct-pit').innerHTML = constructList;
    } catch (error) {
      console.error(error);
    }
  }
  fetchConstructs();
  
  const fetchRecentlyUpdatedDatasets = async () => {
    try {
      const response = await fetch("/api/3/action/package_search?fq=type:dataset");
      const { result } = await response.json();
      const recentlyUpdated = result.results.slice(0, 4);
  
      const recentlyUpdatedDiv = document.getElementById("recently-updated");
      recentlyUpdated.forEach(dataset => {
        const { id, title, organization, metadata_modified } = dataset;
        recentlyUpdatedDiv.innerHTML += `
          <div class="col-sm-3">
            <a href="{% url_for 'dataset.search' %}${id}" class="link-tile dropshadow" title="" data-mh="recently-updated-tiles">
              <span class="link-tile__header">
                <span class="link-tile__header-text">${title}</span>
              </span>
              <span class="link-tile__content">${organization.title}
                <br>
                <small>${metadata_modified.substr(0, 10)}</small>
              </span>
            </a>
          </div>
        `;
      });
    } catch (error) {
      console.error(error);
    }
  };
  fetchRecentlyUpdatedDatasets();
</script>

<div role="main" class="hero" id="hero" style="background-color:#ffcd00!important">
  <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% block search %}
        {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" id="content" class="homepage-content">
  <div class="container">

   

  </div>
</div>