{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block package_notes %}
  {% if pkg.type == 'data-publication' %}
    {%if pkg.msl_authors %}
    <p style="font-style: italic;">
      {%for i in range(0, pkg.msl_authors|length)%}
        {% if pkg.msl_authors[i].msl_author_name %}
          {{ pkg.msl_authors[i].msl_author_name }};
        {% endif %}
      {%endfor%}
    </p>
    {% endif %}
  {% endif %}

  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if (h.scheming_field_by_name(schema.dataset_fields, 'notes') or
    h.scheming_field_by_name(schema.dataset_fields, 'notes_translated')) and
    pkg.notes%}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
    </div>
  {% endif %}
{% endblock %}

{% block package_additional_info %}
  {% if pkg.type == 'data-publication' %}
    <table class="table">
      <tbody>
        {% if pkg.msl_subdomains %}
        <tr class="d-flex">
          <td class="col-md-4">Sub domains</td>
          <td class="col-md-8">
            <ul class="fa-ul">
              {%for i in range(0, pkg.msl_subdomains|length)%}
                <li><i class="fa-li fa fa-pie-chart"></i>{{ pkg.msl_subdomains[i].msl_subdomain }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
        {% if pkg.msl_source %}
        <tr>
          <td>Source</td>
          <td><a href="{{ pkg.msl_source }}" target="_blank">{{ pkg.msl_source }}</a></td>
        </tr>
        {% endif %}
        {% if pkg.msl_publisher %}
        <tr>
          <td>Source publisher</td>
          <td>{{ pkg.msl_publisher }}</td>
        </tr>
        {% endif %}
        {% if pkg.msl_publication_year %}
        <tr>
          <td>Publication date</td>
          <td>{% if pkg.msl_publication_day %} {{ pkg.msl_publication_day }}-{% endif %}{% if pkg.msl_publication_month %}{{ pkg.msl_publication_month }}-{% endif %}{{ pkg.msl_publication_year }}</td>
        </tr>
        {% endif %}

        {% if pkg.msl_doi %}
        <tr>
          <td>DOI</td>
          <td><a href="https://doi.org/{{ pkg.msl_doi }}" target="_blank">{{ pkg.msl_doi }}</a></td>
        </tr>
        {% endif %}

        {% if pkg.msl_handle %}
        <tr>
          <td>Handle</td>
          <td><a href="{{ pkg.msl_handle }}" target="_blank">{{ pkg.msl_handle }}</a></td>
        </tr>
        {% endif %}

        {% if pkg.license_id %}
        <tr>
          <td>License</td>
          <td>
            {{ pkg.license_id }}
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_authors %}
        <tr>
          <td>Authors</td>
          <td>
            {%for i in range(0, pkg.msl_authors|length)%}
              <ul class="fa-ul">
                {% if pkg.msl_authors[i].msl_author_name %}
                  <li><i class="fa-li fa fa-address-book"></i>{{ pkg.msl_authors[i].msl_author_name }}</li>
                {% endif %}
                {% if pkg.msl_authors[i].msl_author_orcid %}
                <li><i class="fa-li fa fa-id-card"></i><a href="https://orcid.org/{{ pkg.msl_authors[i].msl_author_orcid }}" target="_blank">{{ pkg.msl_authors[i].msl_author_orcid }}</a></li>
                {% endif %}
                {% if pkg.msl_authors[i].msl_author_scopus %}
                  <li><i class="fa-li fa fa-id-card"></i>{{ pkg.msl_authors[i].msl_author_scopus }}</li>
                {% endif %}
                {% if pkg.msl_authors[i].msl_author_affiliation %}
                  <li><i class="fa-li fa fa-building"></i>{{ pkg.msl_authors[i].msl_author_affiliation }}</li>
                {% endif %}
                {% if loop.nextitem %}
                  <hr>
                {% endif %}
              </ul>
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_contributors %}
        <tr>
          <td>Contributors</td>
          <td>
            {%for i in range(0, pkg.msl_contributors|length)%}
              <ul class="fa-ul">
                {% if pkg.msl_contributors[i].msl_contributor_name %}
                  <li><i class="fa-li fa fa-address-book"></i>{{ pkg.msl_contributors[i].msl_contributor_name }}</li>
                {% endif %}
                {% if pkg.msl_contributors[i].msl_contributor_role %}
                  <li><i class="fa-li fa fa-cog"></i>{{ pkg.msl_contributors[i].msl_contributor_role }}</li>
                {% endif %}
                {% if pkg.msl_contributors[i].msl_contributor_orcid %}
                <li><i class="fa-li fa fa-id-card"></i><a href="https://orcid.org/{{ pkg.msl_contributors[i].msl_contributor_orcid }}" target="_blank">{{ pkg.msl_contributors[i].msl_contributor_orcid }}</a></li>
                {% endif %}
                {% if pkg.msl_contributors[i].msl_contributor_scopus %}
                  <li><i class="fa-li fa fa-id-card"></i>scopus: {{ pkg.msl_contributors[i].msl_contributor_scopus }}</li>
                {% endif %}
                {% if pkg.msl_contributors[i].msl_contributor_affiliation %}
                  <li><i class="fa-li fa fa-building"></i>{{ pkg.msl_contributors[i].msl_contributor_affiliation }}</li>
                {% endif %}
                {% if loop.nextitem %}
                  <hr>
                {% endif %}
              </ul>
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_references %}
        <tr>
          <td>References</td>
          <td>
            {%for i in range(0, pkg.msl_references|length)%}
              <ul class="fa-ul">
                {% if pkg.msl_references[i].msl_reference_title %}
                  <li><i class="fa-li fa fa-share"></i>{{ pkg.msl_references[i].msl_reference_title|safe }}</li>
                {% endif %}
                {% if pkg.msl_references[i].msl_reference_doi %}
                  <li><i class="fa-li fa fa-id-card"></i> <a href="https://doi.org/{{ pkg.msl_references[i].msl_reference_doi }}" target="_blank">{{ pkg.msl_references[i].msl_reference_doi }}</a></li>
                {% endif %}
                {% if pkg.msl_references[i].msl_reference_handle %}
                  <li><i class="fa-li fa fa-id-card"></i>{{ pkg.msl_references[i].msl_reference_handle }}</li>
                {% endif %}
                {% if pkg.msl_references[i].msl_reference_type %}
                  <li><i class="fa-li fa fa-tag"></i>{{ pkg.msl_references[i].msl_reference_type }}</li>
                {% endif %}
                {% if loop.nextitem %}
                  <hr>
                {% endif %}
              </ul>
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_points_of_contact %}
        <tr>
          <td>Contact</td>
          <td>
            {%for i in range(0, pkg.msl_points_of_contact|length)%}
              <ul class="fa-ul">
                {% if pkg.msl_points_of_contact[i].msl_contact_name %}
                  <li><i class="fa-li fa fa-address-book"></i>{{ pkg.msl_points_of_contact[i].msl_contact_name }}</li>
                {% endif %}
                {% if pkg.msl_points_of_contact[i].msl_contact_organisation %}
                  <li><i class="fa-li fa fa-building"></i>{{ pkg.msl_points_of_contact[i].msl_contact_organisation }}</li>
                {% endif %}
                {% if pkg.msl_points_of_contact[i].msl_contact_electronic_address %}
                  <li><i class="fa-li fa fa-envelope"></i>{{ pkg.msl_points_of_contact[i].msl_contact_electronic_address }}</li>
                {% endif %}
                {% if loop.nextitem %}
                  <hr>
                {% endif %}
              </ul>
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_citation %}
        <tr>
          <td>Citation</td>
          <td>{{ pkg.msl_citation|safe }}</td>
        </tr>
        {% endif %}

        {% if pkg.msl_collection_period %}
        <tr>
          <td>Collection period(s)</td>
          <td>
            {%for i in range(0, pkg.msl_collection_period|length)%}
              <ul class="fa-ul">
                {% if pkg.msl_collection_period[i].msl_collection_start_date %}
                  <li><i class="fa-li fa fa-calendar"></i>{{ pkg.msl_collection_period[i].msl_collection_start_date }} - {{ pkg.msl_collection_period[i].msl_collection_end_date }}</li>
                {% endif %}
                {% if loop.nextitem %}
                  <hr>
                {% endif %}
              </ul>
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_covered_period %}
        <tr>
          <td>Covered period(s)</td>
          <td>
            {%for i in range(0, pkg.msl_covered_period|length)%}
              <ul class="fa-ul">
                {% if pkg.msl_covered_period[i].msl_covered_start_date %}
                  <li><i class="fa-li fa fa-calendar"></i>{{ pkg.msl_covered_period[i].msl_covered_start_date }} - {{ pkg.msl_covered_period[i].msl_covered_end_date }}</li>
                {% endif %}
                {% if loop.nextitem %}
                  <hr>
                {% endif %}
              </ul>
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_geolocations %}
        <tr class="d-flex">
          <td>Geo location(s)</td>
          <td>
            <ul class="fa-ul">
              {%for i in range(0, pkg.msl_geolocations|length)%}
                <li><i class="fa-li fa fa-globe"></i>{{ pkg.msl_geolocations[i].msl_geolocation_place }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}

        {% if pkg.msl_spatial_coordinates %}
        <tr>
          <td>Spatial coordinates</td>
          <td>
            {%for i in range(0, pkg.msl_spatial_coordinates|length)%}
              <ul class="fa-ul">
                {% if pkg.msl_spatial_coordinates[i].msl_elong %}
                  <li><i class="fa-li fa fa-arrow-circle-right"></i>eLong {{ pkg.msl_spatial_coordinates[i].msl_elong }}</li>
                {% endif %}
                {% if pkg.msl_spatial_coordinates[i].msl_nLat %}
                  <li><i class="fa-li fa fa-arrow-circle-up"></i>nLat {{ pkg.msl_spatial_coordinates[i].msl_nLat }}</li>
                {% endif %}
                {% if pkg.msl_spatial_coordinates[i].msl_sLat %}
                  <li><i class="fa-li fa fa-arrow-circle-down"></i>sLat {{ pkg.msl_spatial_coordinates[i].msl_sLat }}</li>
                {% endif %}
                {% if pkg.msl_spatial_coordinates[i].msl_wLong %}
                  <li><i class="fa-li fa fa-arrow-circle-left"></i>wLong {{ pkg.msl_spatial_coordinates[i].msl_wLong }}</li>
                {% endif %}
                {% if loop.nextitem %}
                  <hr>
                {% endif %}
              </ul>
            {% endfor %}
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  {% elif pkg.type == 'lab' %}
    <a href="{% url_for 'data-publication.search', msl_lab_name=pkg.title %}">View datasets associated with lab.</a>
  {% else %}
    {% snippet "scheming/package/snippets/additional_info.html", pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
  {% endif %}
{% endblock %}