<div class="module module-search module-narrow module-shallow box">
  <form style="padding: 20px" class="module-content search-form" method="get"
    action="{% url_for controller='dataset' if h.check_ckan_version('2.9') else 'package', action='search' %}">

    <select id="search-dropdown" type="text" class="search-dropdown search search-giant" name="organization" value=""
      autocomplete="off" placeholder=""
      style="width:20%;/*! padding: 15px; */font-size: 16px;height: 55px;margin-right: 5px;border-radius: 50px 0px 0px 50px;border: none;">
      <option selected="" disabled="disabled">All studies</option>
    </select>

    <div class="search-input control-group search-giant">
      <input style="border-radius: 0px 50px 50px 0px; height:55px" id="searchbox" type="text" class="search" name="q"
        value="" autocomplete="off" placeholder="Search datasets" />
      <button type="submit" role="presentation" tabindex="-1">
        <i class="fa fa-search" style="color:#555"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  <p style="margin-top:-30px;font-size:14px;margin-left: 20%;">For example: <strong>mri AND inhibition</strong> or
    <strong>brain NOT mri</strong></p>
</div>



<script>
  document.getElementById('site-search-wrap').style.display = 'none';
  // Fetch json from CKAN API and build list of studies for selection
  url = "/api/3/action/organization_list?all_fields=true"
  fetch(url)
    .then(res => res.json())
    .then(data => {
      var div = document.getElementById('search-dropdown');
      for (const result of data.result) {
        div.innerHTML += `<option value=` + result.name + `>` + result.title + `</option>`
      }
    });

  // Capitalize 'and' and 'not' to be functional parameters
  var input_a = document.getElementById('searchbox');
  input_a.addEventListener('keyup', do_replace);

  function do_replace() {
    var value_a = input_a.value;
    var replaced_a = value_a.replace('not', 'NOT');
    var replaced_a = value_a.replace('and', 'AND');
    document.getElementById('searchbox').value = replaced_a;
  };
</script>