
<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='dataset' if h.check_ckan_version('2.9') else 'package', action='search' %}">
    <h3 class="heading"><label for="searchbox" style="margin: 8px 0">Search datasets</label></h3>

    <select id="search-dropdown" type="text" class="search search-giant" name="organization" value="" autocomplete="off" placeholder="" style="width:20%;/*! padding: 15px; */font-size: 16px;height: 55px;margin-right: 5px;border-radius: 50px 0px 0px 50px;border: none;">
      <option selected="" disabled="disabled">Select Study...</option>

       </select>

    <div class="search-input control-group search-giant">
      <input style="border-radius: 0px 50px 50px 0px; height:55px" id="searchbox" type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit" role="presentation" tabindex="-1">
        <i class="fa fa-search" style="color:#555"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  </div>
 


  <script>
    document.getElementById('site-search-wrap').style.display = 'none';
    
      // Javascript to fetch json from CKAN API 
    
      url = "/api/3/action/organization_list"
      fetch(url)
        .then(res => res.json())
        .then(data => {
          var div = document.getElementById('search-dropdown');
          for (const result of data.result) {
            div.innerHTML += `<option>`+ result + `</option>`
          }
        });
</script>    