
{% snippet 'home/snippets/search_modal.html' %}

<div class="module module-search module-narrow module-shallow box">
  <form id="dataset-search-form" style="padding: 20px" class="module-content search-form" method="get"
    action="{% url_for controller='measure' if h.check_ckan_version('2.9') else 'package', action='search' %}">
    <a onclick="$('#searchModal').modal('toggle')" class="btn btn-advanced-search"><span class="fa fa-cog"></span> Advanced Search</a>
    <select id="search-dropdown" type="text" class="dropshadow search-dropdown search search-giant" name="organization" value=""
      autocomplete="off" placeholder=""
      style="width:20%;/*! padding: 15px; */font-size: 16px;height: 55px;margin-right: 5px;border-radius: 50px 0px 0px 50px;border: none;">
      <option selected="" disabled="disabled">All studies</option>
    </select>
    <div class="search-input control-group search-giant">
      <input style="border-radius: 0px 50px 50px 0px; height:55px" id="searchbox" type="text" class="dropshadow search" name="q" value="" autocomplete="off" placeholder="Search measures" data-html="true" onmouseenter="tooltipAddElement(this,'Capitalize <em>AND</em>, <em>OR</em>, and <em>NOT</em> to create specific search queries',30,'info-circle')" onmouseleave="tooltipRemoveElement(this)"/>
      <button type="submit" role="presentation" tabindex="-1">
        <i class="fa fa-search icon-search" style="color:#555;position:absolute;top:-4px;right: 0px;"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
</div>

<script>
  {% set stats = h.get_site_statistics() %}
  const url1 = "/api/3/action/package_search";
  const url2 = "/api/3/action/package_search?facet.field=[%22wave_cohort%22]";
  Promise.all([
    fetch(url1).then(res => res.json()),
    fetch(url2).then(res => res.json())
  ]).then(([data1, data2]) => {
    if ($(window).width() < 400 ) {
      document.getElementById('searchbox').placeholder = `Search {{stats.dataset_count}} measures`;
    } else {
      document.getElementById('searchbox').placeholder = `Search ` + data1.result.count + ` measures, from {{stats.organization_count}} studies, and ` + Object.keys(data2.result.facets.wave_cohort).length + ` cohorts`;
    }
  });
  url = "/api/3/action/organization_list?all_fields=true"
    fetch(url)
      .then(res => res.json())
      .then(data => {
        var div = document.getElementById('search-dropdown');
        var divDropdown = document.getElementById('select-study');
        for (const result of data.result) {
          div.innerHTML += `<option value=` + result.name + `>` + result.title + `</option>`
        }
      });
</script>