{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields_measure = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    'wave',
    'cohort',
    'study',
    'dc_labels',
    'dc_constructs',
    'dc_cohort',
    'measure_age_range',
    'wave_universe',
    'wave_cohort_ckan_id',
    'wave_cohort',
    'wave_alternate_title',
    'cohort_alternate_title',
    'cohort_study_title',
    'cohort_study_alternate_title',
    'cohort_study_data_access',
    'cohort_language',
    'dc_mode_of_collection',
    'dc_mode_of_collection_sub',
    'wave_start_date_collection',
    'wave_end_date_collection',
    'dc_common_id',
    'dc_additional_info',
    'wave_spatial_lowest_reference',
    'wave_spatial_highest_reference',
    'wave_spatial_country_code',
    'wave_spatial_geographic_location'
    ] -%}

    {%- set exclude_fields_study = [
      'id',
      'title',
      'name',
      'notes',
      'tag_string',
      'license_id',
      'owner_org',
      'wave',
      'cohort',
      'dc_labels',
      'dc_constructs',
      'dc_cohort',
      'measure_age_range',
      'wave_universe',
      'wave_cohort_ckan_id',
      'wave_cohort',
      'wave_alternate_title',
      'cohort_alternate_title',
      'cohort_study_title',
      'cohort_study_alternate_title',
      'cohort_study_data_access',
      'cohort_language',
      'dc_mode_of_collection',
      'dc_mode_of_collection_sub',
      'wave_start_date_collection',
      'wave_end_date_collection',
      'dc_common_id',
      'dc_additional_info',
      'wave_spatial_lowest_reference',
      'wave_spatial_highest_reference',
      'wave_spatial_country_code',
      'wave_spatial_geographic_location'
      ] -%}

{% block package_additional_info_measure %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields_measure
        and field.display_snippet is not none
        and pkg_dict[field.field_name]|length -%}
      <tr>
        <th scope="row" class="dataset-label">
            {{ h.scheming_language_text(field.label) }}
        </th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property }}"{% endif %}>
            {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
{% endblock %}



