{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',

    ] -%}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none
        and pkg_dict[field.field_name]|length -%}
      <tr>
        <th scope="row" class="dataset-label">
            {{ h.scheming_language_text(field.label) }}
            <!-- label for hierarchical fields supplement to study information -->
            {% if pkg_dict.type == 'wave' %}
            <span class="fa fa-info-circle info-hover" onmouseenter="tooltipAddElement(this,'Displayed information is supplement to information contained at cohort and study-level',40,'info-circle')" onmouseleave="tooltipRemoveElement(this)"></span>
            {% elif pkg_dict.type == 'cohort' %}
            <span class="fa fa-info-circle info-hover" onmouseenter="tooltipAddElement(this,'Displayed information is supplement to information contained at study-level',40,'info-circle')" onmouseleave="tooltipRemoveElement(this)"></span>
            {% endif %}
        </th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property }}"{% endif %}>
            {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
{% endblock %}


