{% extends "package/snippets/additional_info.html" %}
{%- set exclude_fields_measure = [
'id',
'title',
'name',
'notes',
'tag_string',
'license_id',
'owner_org',
'wave',
'cohort',
'study',
'dc_labels',
'dc_constructs',
'dc_cohort',
'measure_age_range',
'dc_mode_of_collection',
'dc_mode_of_collection_sub',
'dc_common_id',
'dc_additional_info',
] -%}

{%- set exclude_fields_study = [
'id',
'title',
'name',
'notes',
'tag_string',
'license_id',
'owner_org',
'wave',
'cohort',
'dc_labels',
'dc_constructs',
'dc_cohort',
'dc_instrument_name',
'dc_measure_name',
'dc_alternate_name',
'dc_measurement_references',
'measure_age_range',
'dc_mode_of_collection',
'dc_mode_of_collection_sub',
'dc_common_id',
'dc_additional_info',
] -%}

{%- set exclude_fields_cohort = [
'id',
'title',
'name',
'notes',
'tag_string',
'license_id',
'owner_org',
'wave',
'study',
'dc_labels',
'dc_constructs',
'dc_cohort',
'dc_instrument_name',
'dc_measure_name',
'dc_alternate_name',
'dc_measurement_references',
'measure_age_range',
'dc_mode_of_collection',
'dc_mode_of_collection_sub',
'dc_common_id',
'dc_additional_info',
] -%}

{%- set exclude_fields_wave = [
'id',
'title',
'name',
'notes',
'tag_string',
'license_id',
'owner_org',
'cohort',
'study',
'dc_labels',
'dc_constructs',
'dc_cohort',
'dc_instrument_name',
'dc_measure_name',
'dc_alternate_name',
'dc_measurement_references',
'measure_age_range',
'dc_mode_of_collection',
'dc_mode_of_collection_sub',
'dc_common_id',
'dc_additional_info',
'wave_cohort_ckan_id',
] -%}

{% block package_additional_info_measure %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields_measure
        and field.display_snippet is not none
        and pkg_dict[field.field_name]|length -%}
        <tr>
        <th scope="row" class="dataset-label">
            {{ h.scheming_language_text(field.label) }}
        </th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property }}"{% endif %}>
            {%- snippet 'scheming/snippets/display_field_repeat.html', field=field, data=pkg_dict, schema=schema -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
{% endblock %}


{% block package_additional_info_study %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields_study
        and field.display_snippet is not none
        and pkg_dict[field.field_name]|length -%}
          {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
    {%- endif -%}
  {%- endfor -%}
{% endblock %}


{% block package_additional_info_cohort %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields_cohort
        and field.display_snippet is not none
        and pkg_dict[field.field_name]|length -%}
          {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
    {%- endif -%}
  {%- endfor -%}
{% endblock %}


{% block package_additional_info_wave %}
  {%- for field in schema.dataset_fields -%}  
    {%- if field.field_name not in exclude_fields_wave
        and field.display_snippet is not none
        and pkg_dict[field.field_name]|length -%}
          {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
    {%- endif -%}
  {%- endfor -%}
{% endblock %}
