{% set fields = data[field.field_name] %}

{% block subfield_display %}
  {% for field_data in fields %}
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="scheming-subfield-list">
          {% for subfield in field.repeating_subfields %}
            <dt class="dataset-label">
              {{ h.scheming_language_text(subfield.label) }}
            </dt>
            <dd>
            {%- snippet 'scheming/snippets/display_field.html',
              field=subfield,
              data=field_data,
              entity_type=entity_type,
              object_type=object_type
            -%}
            </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  {% endfor %}
{% endblock %}


<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  // get DOI and create links
  regpatterns = ['(http[^ ]*)']
  regpatterns.forEach(function(pattern) {
    regpattern = new RegExp(pattern,'gi');
    $('.scheming-subfield-list').each(function() {
      $(this).find('dd').each(function() {
        console.log(this);
        a = this;
        doiResult = regpattern.exec(a.innerText);		
        if (doiResult != null) {
            doiURL = '<a href="' + doiResult[1] + '" target="blank">' + doiResult[1] + '</a>';
            a.innerHTML = a.innerHTML.replace(doiResult[1], doiURL);
        }
      }); 
    }); 
  });
});
</script>
