{% set fields = data[field.field_name] %}
{% set fields_passed = [] %}

{%- set exclude_subfields = [
  '',
] -%}

{% block subfield_display %}
{% for field_data in fields %}
<div class="well">
<table class="table table-striped table-condensed dropshadow">
          {% for subfield in field.repeating_subfields %}
          {% if subfield.field_name == 'study_title' or subfield.field_name == 'cohort_title' or subfield.field_name == 'wave_title'%}
                <h2 class="collapsible-header">{{ field_data[subfield.field_name] }}</h2>
          {% endif %}
          <tr>
          <th scope="row" class="dataset-label">
              {{ h.scheming_language_text(subfield.label) }}
            </th>
            <td class="dataset-details">
            <span class="repeating-element">

                {%- snippet 'scheming/snippets/display_field_repeat.html',
                field=subfield,
                data=field_data,
                entity_type=entity_type,
                object_type=object_type
                -%}
              
            </span>
          </td>
        </tr>
          {% endfor %}
        </table></div>
  {% endfor %}

{% endblock %}

