{% set fields = data[field.field_name] %}
{% set fields_passed = [] %}

<!-- exclude repeating fields -->
{%- set exclude_subfields = [
  'study_publisher',
  'study_principal_investigators',
  'study_contributor',
  'cohort_publisher',
  'cohort_creator',
  'cohort_contributor',
  'wave_publisher',
  'wave_creator',
  'wave_contributor',
  'cohort_references',
  'dc_measurement_references',
  'study_references',
  'wave_references',
  'study_contact',
  'dc_DOI'
  ] -%}

{% block subfield_display %}

{% for field_data in fields %}
{% if field.field_name in exclude_subfields %}
  {% if field.field_name not in fields_passed %}
    {% do fields_passed.append(field.field_name) %}
    {% for subfield in fields %}
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="scheming-subfield-list">
          <dt class="dataset-label">
          </dt>
          {% if field.field_name == 'study_publisher' %}
          <dd><span class="tabspan fa fa-building"></span><span
              onmouseenter="tooltipAddElement(this,'{{ subfield.study_publisher_identifier_type }}',30,'share')"
              onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a
                href="{{subfield.study_publisher_identifier}}" target="blank">{{ subfield.study_publisher_name }}</a></span>
          </dd>
          {% elif field.field_name == 'cohort_publisher' %}
          <dd><span class="tabspan fa fa-building"></span><span
              onmouseenter="tooltipAddElement(this,'{{ subfield.cohort_publisher_identifier_type }}',30,'share')"
              onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a
                href="{{subfield.cohort_publisher_identifier}}" target="blank">{{ subfield.cohort_publisher_name
                }}</a></span></dd>
          {% elif field.field_name == 'wave_publisher' %}
          <dd><span class="tabspan fa fa-building"></span><span
              onmouseenter="tooltipAddElement(this,'{{ subfield.wave_publisher_identifier_type }}',30,'share')"
              onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a
                href="{{subfield.wave_publisher_identifier}}" target="blank">{{ subfield.wave_publisher_name }}</a></span>
          </dd>
          {% elif field.field_name == 'study_principal_investigators' %}
            {% if subfield.study_pi_pid %}
              {% if "orcid" not in subfield.study_pi_pid %}
                  {% set study_pi_pid_url = "https://orcid.org/" + subfield.study_pi_pid %}
              {% else %}
                  {% set study_pi_pid_url = subfield.study_pi_pid %}
              {% endif %}
              <dd><span class="tabspan fa fa-user"></span><span
                onmouseenter="tooltipAddElement(this,'{{ subfield.study_pi_identifier_type }}',30,'share')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{study_pi_pid_url}}" target="blank">{{ subfield.study_pi_name }}</a></span>
              </dd>
            {% else %}
              <dd><span class="tabspan fa fa-user"></span><span class="repeating-element">{{ subfield.study_pi_name }}</span>
              </dd>
            {% endif %}
              <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.study_pi_affiliation }}</span>
              </dd>
            
          {% elif field.field_name == 'cohort_creator' %}
            {% if subfield.cohort_creator_pid %}
            {% if "orcid" not in subfield.cohort_creator_pid %}
                {% set cohort_creator_url = "https://orcid.org/" + subfield.cohort_creator_pid %}
            {% else %}
                {% set cohort_creator_url = subfield.cohort_creator_pid %}
            {% endif %}
            <dd><span class="tabspan fa fa-user"></span><span
              onmouseenter="tooltipAddElement(this,'{{ subfield.cohort_creator_identifier_type }}',30,'share')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{cohort_creator_url}}" target="blank">{{ subfield.cohort_creator }}</a></span>
            </dd>
            <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.cohort_creator_affiliation }}</span>
            </dd>
            {% else %}
            <dd><span class="tabspan fa fa-user"></span><span target="blank">{{ subfield.cohort_creator }}</a></span>
            </dd>
            <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.cohort_creator_affiliation }}</span>
            </dd>
            {% endif %}
         
          {% elif field.field_name == 'wave_creator' %}
          {% if subfield.wave_creator_pid %}
            {% if "orcid" not in subfield.wave_creator_pid %}
                {% set wave_creator_url = "https://orcid.org/" + subfield.wave_creator_pid %}
            {% else %}
                {% set wave_creator_url = subfield.wave_creator_pid %}
            {% endif %}
          {% else %}
                {% set wave_creator_url = '#' %}
          {% endif %}
          <dd><span class="tabspan fa fa-user"></span><span
            onmouseenter="tooltipAddElement(this,'{{ subfield.wave_creator_identifier_type }}',30,'share')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{wave_creator_url}}" target="blank">{{ subfield.wave_creator }}</a></span>
          </dd>
          <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.wave_creator_affiliation }}</span>
          </dd>
          {% elif field.field_name == 'study_contributor' %}
          {% if subfield.study_contributor_pid %}
          {% if subfield.study_contributor_identifier_type == 'ORCID' %}
            {% set study_contributor_url = "https://orcid.org/" + subfield.study_contributor_pid %}
          {% else %}
            {% set study_contributor_url = subfield.study_contributor_pid %}
          {% endif %}
            <dd><span class="tabspan fa fa-user"></span><span
              onmouseenter="tooltipAddElement(this,'{{ subfield.study_contributor_identifier_type }}',30,'share')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{study_contributor_url}}" target="blank">{{ subfield.study_contributor_name }}</a></span>
            </dd>
            {% else %}
            <dd><span class="tabspan fa fa-user"></span><span class="repeating-element">{{ subfield.study_contributor_name }}</span>
            </dd>
            {% endif %}
            <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.study_contributor_affiliation }}</span>
            </dd>
          {% elif field.field_name == 'cohort_contributor' %}
          {% if subfield.cohort_contributor_pid %}
            {% if "orcid" not in subfield.cohort_contributor_pid %}
                {% set cohort_contributor_url = "https://orcid.org/" + subfield.cohort_contributor_pid %}
            {% else %}
                {% set cohort_contributor_url = subfield.cohort_contributor_pid %}
            {% endif %}
            <dd><span class="tabspan fa fa-user"></span><span
              onmouseenter="tooltipAddElement(this,'{{ subfield.cohort_contributor_identifier_type }}',30,'share')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{cohort_contributor_url}}" target="blank">{{ subfield.cohort_contributor }}</a></span>
            </dd>
          {% else %}
          <dd><span class="tabspan fa fa-user"></span><span class="repeating-element">{{ subfield.cohort_contributor }}</span>
          </dd>
          {% endif %}
            <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.cohort_contributor_affiliation }}</span>
            </dd>
          {% elif field.field_name == 'wave_contributor' %}
            {% if subfield.wave_contributor_pid %}
              {% if "orcid" not in subfield.wave_contributor_pid %}
                  {% set wave_contributor_url = "https://orcid.org/" + subfield.wave_contributor_pid %}
              {% else %}
                  {% set wave_contributor_url = subfield.wave_contributor_pid %}
              {% endif %}
            <dd><span class="tabspan fa fa-user"></span><span
              onmouseenter="tooltipAddElement(this,'{{ subfield.wave_contributor_identifier_type }}',30,'share')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{wave_contributor_url}}" target="blank">{{ subfield.wave_contributor_name }}</a></span>
            </dd>
            {% else %}
            <dd><span class="tabspan fa fa-user"></span><span class="repeating-element">{{ subfield.wave_contributor_name }}</span>
            </dd>
            {% endif %}
            <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.wave_contributor_affiliation }}</span>
            </dd>
          {% elif field.field_name == 'study_references' %}
            <dd><span class="tabspan fa fa-share-alt"></span><span onmouseenter="tooltipAddElement(this,'{{ subfield.study_reference_type }}',30,'hand-o-right')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{subfield.study_reference_identifier}}" target="blank">{{ subfield.study_reference_citation }}</a></span>
            </dd>
          {% elif field.field_name == 'cohort_references' %}
            <dd><span class="tabspan fa fa-share-alt"></span><span onmouseenter="tooltipAddElement(this,'{{ subfield.cohort_reference_type }}',30,'hand-o-right')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{subfield.cohort_reference_identifier}}" target="blank">{{ subfield.cohort_reference_citation }}</a></span>
            </dd>
          {% elif field.field_name == 'wave_references' %}
            <dd><span class="tabspan fa fa-share-alt"></span><span onmouseenter="tooltipAddElement(this,'{{ subfield.wave_references_type }}',30,'hand-o-right')" onmouseleave="tooltipRemoveElement(this)" class="repeating-element"><a href="{{subfield.wave_references_identifier}}" target="blank">{{ subfield.wave_references_citation }}</a></span>
            </dd>
          {% elif field.field_name == 'dc_measurement_references' %}
            {% if subfield.dc_measurements_references_doi %}
            {% if 'https://doi.org/' not in subfield.dc_measurements_references_doi or 'http://doi.org/' not in subfield.dc_measurements_references_doi %}
              {% set fixed_ref = 'https://doi.org/' + subfield.dc_measurements_references_doi %}
            {% else %}
              {% set fixed_ref = subfield.dc_measurements_references_doi %}
            {% endif %}
            <dd><span class="tabspan fa fa-share-alt"></span><span class="repeating-element"><a href="{{fixed_ref}}" target="blank">{{ subfield.dc_measurements_references_citation }}</a></span>
            </dd>
            {% else %}
            <dd><span class="tabspan fa fa-share-alt"></span><span class="repeating-element">{{ subfield.dc_measurements_references_citation }}</span>
            </dd>
            {% endif %}
          {% elif field.field_name == 'study_contact' %}
            <dd><span class="tabspan fa fa-user"></span><span class="repeating-element">{{ subfield.study_contact_name }}</span></dd>
            <dd><span class="tabspan fa fa-building"></span><span class="repeating-element">{{ subfield.study_contact_affiliation }}</span></dd>
            <dd><span class="tabspan fa fa-envelope"></span><span class="repeating-element"><a href="mailto:{{subfield.study_contact_mail}}">{{ subfield.study_contact_mail }}</a></span></dd>
        {% endif %}
        </dl>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% else %}

    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="scheming-subfield-list">
          {% for subfield in field.repeating_subfields %}
            <dt class="dataset-label">
              {% if subfield.label == 'Creator' or  subfield.label == 'Contributor' or subfield.label == 'Name' or subfield.label == 'Creator name' or subfield.label == 'Contributor name'%}
              {% set icon = 'fa-user'  %}
              {% elif subfield.label == 'Affiliation' %}
              {% set icon = 'fa-building'  %}
              {% elif subfield.label == 'Identifier' %}
              {% set icon = 'fa-info-circle'  %}
              {% elif subfield.label == 'Identifier type' %}
              {% set icon = 'fa-tag'  %}
              {% elif subfield.label == 'Funder name' %}
              {% set icon = 'fa-university'  %}
              {% elif subfield.label == 'Grant number' %}
              {% set icon = 'fa-hashtag'  %}
              {% elif subfield.label == 'Citation' %}
              {% set icon = 'fa-share-alt'  %}
              {% elif subfield.label == 'Reference type' %}
              {% set icon = 'fa-hand-o-right'  %}
              {% elif subfield.label == 'Publisher name' %}
              {% set icon = 'fa-building'  %}
              {% elif subfield.label == 'Publisher ID' %}
              {% set icon = 'fa-info-circle'  %}
              {% elif subfield.label == 'Publisher ID-type' %}
              {% set icon = 'fa-tag'  %}
              {% elif subfield.label == 'Mail address' %}
              {% set icon = 'fa-envelope'  %}
              {% elif subfield.label == 'URL' %}
              {% set icon = 'fa-external-link'  %}
              {% elif subfield.label == 'Description' %}
              {% set icon = 'fa-question-circle'  %}
              {% else %}
              {{ h.scheming_language_text(subfield.label) }}
              {% set icon = '' %}
              {% endif %}
            </dt>
            <dd>
            <span class="tabspan fa {{ icon }}"></span> 
            <span class="repeating-element">
            {%- snippet 'scheming/snippets/display_field.html',
              field=subfield,
              data=field_data,
              entity_type=entity_type,
              object_type=object_type
            -%}
            </span>
            </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  {% endif %}
  {% endfor %}
{% endblock %}