<section class="additional-info">

  <h4>Labels</h4>
  <ul class="dataset-resources list-unstyled">
  {% set labels = pkg_dict.dc_labels %}
  {% for label in labels  %}
    <li>
      <a href="" class="label">{{label["dc_label"]}}</a>
  </li>
  {% endfor %}
  </ul>

  <h4>Constructs</h4>
  <ul class="dataset-resources list-unstyled">
  {% set constructs = pkg_dict.dc_constructs %}
  {% for construct in constructs  %}
    <li>
      <a href="#" class="label">{{construct["dc_construct"]}}</a>
  </li>
  {% endfor %}
  </ul>


  

  <h2>Raw</h2>
  <code>{{ pkg_dict }}</code>


  
</section>
