<section class="additional-info">

  <h4>Labels</h4>
  <ul class="dataset-resources list-unstyled">
  {% set labels = pkg_dict.dc_labels %}
  {% for label in labels  %}
    {% if label.length != 0 %}
    <li>
      <a href="" class="label">{{label["dc_label"]}}</a>
  </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h4>Constructs</h4>
  <ul class="dataset-resources list-unstyled">
  {% set constructs = pkg_dict.dc_constructs %}
  {% for construct in constructs  %}
  {% if construct.length != 0 %}
    <li>
      <a href="#" class="label">{{construct["dc_construct"]}}</a>
  </li>
    {% endif %}
  {% endfor %}
  </ul>


  <h4>Waves</h4>
  <ul class="dataset-resources list-unstyled">
  {% set waves = pkg_dict.wave %}
  {% for wave in waves  %}
    <li>
      <a href="#" class="label">{{wave["wave_title"]}}</a>
  </li>
  {% endfor %}
  </ul>
  
  {%- for field in schema.dataset_fields -%}
    {% if field.field_name == 'wave'%}
    <table class="table table-striped table-bordered table-condensed">
      <tr><td data-toggle="collapse" href="#collapseWaves">Waves</td></tr>
      
      <div class="collapse" id="collapseWaves">
        <tbody>
        <tr>
          <td class="dataset-details"{%
            if field.display_property %} property="{{ field.display_property }}"{% endif %}>
              {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
          </td>
        </tr>
        </tbody>
        
      </div>
    </table>
      {% endif %}
  {%- endfor -%}

  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% block package_additional_info %}
       

      {% endblock %}
    </tbody>
  </table>

  
</section>
