<section class="additional-info">



  <table class="table table-striped table-condensed">
    <tbody>
    <tr>
      <th scope="row" class="dataset-label">Labels</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% set labels = pkg_dict.dc_labels %}
      {% for label in labels  %}
        {% if label.length != 0 %}
        <li>
          <a href="" class="label">{{label["dc_label"]}}</a>
      </li>
        {% endif %}
      {% endfor %}
      </ul>
      </td>
    </tr>

    <tr>
      <th scope="row" class="dataset-label">Constructs</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% set constructs = pkg_dict.dc_constructs %}
      {% for construct in constructs  %}
      {% if construct.length != 0 %}
        <li>
          <a href="#" class="label">{{construct["dc_construct"]}}</a>
      </li>
        {% endif %}
      {% endfor %}
    </ul>
    </td>
    </tr>

    <tr>
      <th scope="row" class="dataset-label">Waves</th>
      <td class="dataset-details">
      <ul class="dataset-resources list-unstyled">
      {% set waves = pkg_dict.wave %}
      {% for wave in waves  %}
        <li>
          <a href="#" class="label">{{wave["wave_title"]}}</a>
      </li>
      {% endfor %}
      </ul>
      </td>
      </tr>
      
      {% block package_additional_info %}
       

      {% endblock %}
    </tbody>
  </table>

  {{ pkg_dict }}
  
</section>
